:root {
    --dark-major: hsl(0, 0%, 0%);
    --dark-minor: hsl(0, 0%, 20%);
    --light-grey: hsl(0, 0%, 85%);
    --mid-grey:   hsl(0, 0%, 67%);
    --blue:       hsl(218, 85%, 55%);
    --pink:       hsl(331, 64%, 52%);
    --white:      hsl(0, 0%, 100%);
    --green:      hsl(110, 65%, 48%);
    --yellow:     hsl(51, 100%, 63%);
}

html {
    --bkg-main:   hsl(207 14% 14%);
    --bkg-minor:  hsl(207 14% 23%);
    --text-main:  hsl(205 200% 200%);
    --text-minor: hsl(0, 0%, 20%);
    --text-accent:hsl(30 85% 55%);
    --text-mute:  hsl(0, 0%, 47%);
    --link-main:  var(--blue);
    --border-main:hsl(194, 14%, 40%);

    &.light {
        --bkg-main:   var(--light-grey);
        --bkg-minor:  hsl(0, 0%, 73%);
        --text-main:  var(--dark-minor);
        --text-accent:var(--dark-minor);
        --link-main:  var(--blue);
    }

    &.print {
        --bkg-main:   var(--white);
        --bkg-minor:  var(--white);
        --text-main:  hsl(0, 0%, 0%);
        --text-accent:var(--dark-minor);
        --link-main:  var(--blue);
    }
}

