footer.footer {
	color: var(--text-minor);
	background: rgba(220, 220, 220, .9);
	text-align: right;

	.access {
		float: left;
		margin: 5px 20px;
	}

	.mantra {
		font-size: .7rem;
	}

	.footer-text {
		font-style: italic;
		font-size: .8rem;
		margin-right: 10px;
	}
}
