.home-page {
    position: relative;

    @include screen-width('xsmall') {
        width: 96vw;
    }

    @include screen-width('large') {
        .home-text-box,
        .random-hughku {
            width: 60%;
        }
    }

	.mani-wrap {
		--wrap-top: 12%;
		--wrap-left: 21px;
		--wrap-width: 90%;
		--wrap-height: 250px;
		--wrap-pad-top: 10%;
		--mani-font-size: 450%;
		--mani-margin-top: 30px;

		@include screen-width('small') {
			--wrap-top: 16%;
			--wrap-left: 32px;
			--mani-font-size: 600%;
		}

		@include screen-width('medium') {
			--mani-font-size: 545%;
		}

		@include screen-width('large') {
			--wrap-top: 20%;
			--mani-font-size: 645%;
		}

		@include screen-width('desktop') {
			--wrap-top: 20%;
			--mani-font-size: 745%;
		}

		position: absolute;
		top: var(--wrap-top);
		left: var(--wrap-left);
		width: var(--wrap-width);
		height: var(--wrap-height);
		padding-top: var(--wrap-pad-top);

		background-image: url(/images/site/clouds-2.jpg);
		background-repeat: no-repeat;
		background-size: 160%;
		background-position-x: -250px;
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		animation: drift 50s ease-out infinite alternate;

		@keyframes drift {
			to {
				background-position-x: 0px;
			}
		}

		.mani {
			width: 100%;
			height: 100%;
			margin-top: var(--mani-margin-top);
			font-size: var(--mani-font-size);
			text-align: center;
		}
	}

    .random-hughku, 
    .home-text-box,
    .dharma-names {
		font-family: Ubuntu, 'Noto Serif Tibetan', sans-serif;
        width: 80%;
        margin: 0 auto;
        border: 1px solid var(--border-main);
        background-color: var(--bkg-main);
        line-height: 1.2rem;
        padding: 2px;

        @include screen-width('medium') {
            line-height: 1rem;
            padding: 10px;
        }

        @include screen-width('large') {
            line-height: 1.3rem;
        }

        a, a:link, a:visited {
            color: var(--text-accent);
        }

        table { 
            width: 100%;
            text-align: center;

            td {
                text-align: left;
            }
        }
    }

    .random-hughku {
        text-align: center;
        padding-bottom: 20px;
		padding-top: 20px;

        #rand {
            padding-top: 20px;
        }
    }

    .home-text-box {
        margin-top: 15px;

        td {
            height: 2rem;
        }
    }

    .dharma-names {
        margin-top: 15px;

        @include screen-width('medium') {
            margin-top: 20px;
            font-size: 1rem;
        }
    }

    .page-footer {
        position: inherit;
        border: none;
        text-align: center;

        .scroll-to-top {
            display: block;

            a {
                color: var(--text-accent);
            }
        }
    }
}

