:root {
    --pagefind-ui-scale: 1;
    --pagefind-ui-primary: var(--bkg-main);
    --pagefind-ui-text: var(--text-mute);
    --pagefind-ui-border: var(--border-main);
    --pagefind-ui-tag: #eeeeee;
    --pagefind-ui-border-width: 1px;
    --pagefind-ui-border-radius: 2px;
    --pagefind-ui-image-border-radius: 2px;
    --pagefind-ui-image-box-ratio: 3 / 2;
    --pagefind-ui-font: sans-serif;
}

.pagefind-ui {
    position: absolute;
    display: none;
}

.pagefind-ui__drawer {
    background-color: var(--bkg-main);
    font-size: 80%;
}

button.pagefind-ui__button {
    display: none;
}
