.screen-print-tools .tools {
    display: none;
    
    button {
        display: block;
    }
}

.poem {
    font-family: 'Schoolbell', cursive;
    font-size: 1.8rem;
    line-height: 2.5rem;
    position: relative;
    min-height: 98%;
    width: 100%;

    .poem-written-date {
        color: var(--text-accent);
        font-style: italic;
        text-align: right;
    }

    &.poem-tool-default {
        .poem-text {
            display: block;
            left: unset;
            right: unset;
            width: unset;
            opacity: .8;
            margin-inline: unset;
            text-align: left;
        }
    }

    &.poem-left {
        .poem-text {
            left: 0;
        }
    }

    &.poem-centre {
        .poem-text {
            margin-inline: auto;
            width: 300px;
        }
    }

    &.poem-right {
        .poem-text {
            right: 0;
            text-align: right;
        }
    }

    &.poem-flex {
        .poem-text {
            display: flex;
            flex-basis: 30%;
            justify-content: center;
        }
    }

    &.screen-print1 {
        position: relative;

        .poem-title {
            top: 8px;
            margin: 0;
            border: none;
        }

        .poem-text {
            top: 53px;
            font-size: 70%;

            & > :first-child {
                margin-top: 0;
            }
        }

        .poem-title,
        .poem-text {
            position: absolute;
            left: 5px;
        }
    }
}

