.screen-print-tools .tools {
    display: none;
    
    .sub-block {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        gap: 5px;
    }
}

.poem {
    font-family: 'Schoolbell', cursive;
    font-size: 1.8rem;
    line-height: 2.5rem;
    position: relative;
    min-height: 98%;
    width: 100%;

    .poem-written-date {
        color: var(--text-accent);
        font-style: italic;
        text-align: right;
    }

    .poem-text {
        color: var(--mid-grey);
    }

    &.poem-tool-default {
        .poem-title {
            border: none;
            margin: 0;
        }

        .poem-text {
            display: block;
            left: unset;
            right: unset;
            width: unset;
            margin-inline: unset;
            margin-top: 40px;
            text-align: left;
        }
    }

    &.poem-left {
        .poem-title,
        .poem-text {
            left: 0;
        }
    }

    &.poem-centre {
        .poem-title,
        .poem-text {
            margin-inline: auto;
            width: 54%;
        }
    }

    &.poem-right {
        .poem-title,
        .poem-text {
            position: absolute;
            right: 0;
            text-align: right;
        }
    }

    &.poem-flex {
        .poem-text {
            display: flex;
            flex: 0 0 300px;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &.bkg-overlay {
        .poem-title {
            padding: .5rem;
        }

        .poem-text {
            padding: 2rem;
            width: 54%;
            color: var(--dark-major);
            background-color: var(--light-grey);
        }

        .poem-text.l-on-d {
            color: var(--light-grey);
            background-color: var(--dark-major);
        }

        .poem-text.d-on-l {
            color: var(--dark-major);
            background-color: var(--light-grey);
        }
    }

    &.bkg-overlay-unset {
        .poem-title,
        .poem-text {
            background-color: none;
            color: var(--light-grey);
        }
    }
}

