<script>
    function createCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }

    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }

    function eraseCookie(name) {
        createCookie(name, "", -1);
    }

    let cn = document.getElementById('cookie-notice');
    let ci = document.getElementById('cookie-info');
    let cna = document.getElementById('cookie-notice-accept');
    let cnd = document.getElementById('cookie-notice-decline');
    let userChoice = readCookie('cookie-notice-dismissed');

    if(userChoice == 'accepted') {
        {% include analytics.js %}
        ci.style.display = 'inline';
    } else if (userChoice == 'declined') {
        ci.style.display = 'inline';
    } else {
        cn.style.display = 'block';
    }

    cna.addEventListener("click", function() {
        createCookie('cookie-notice-dismissed', 'accepted', 31);
        cn.style.display = 'none';
        location.reload();
    });

    cnd.addEventListener("click", function() {
        createCookie('cookie-notice-dismissed', 'declined', 31);
        ci.style.display = 'inline';
        cn.style.display = 'none';
        location.reload();
    });

    /* let the user see the cookie notice again */
    ci.addEventListener("click", function() {
        ci.style.display = 'none';
        cn.style.display = 'block';
    });
</script>
