<form id="themeForm">
    <fieldset>
        <legend>choose a dark, light or print theme</legend>

        <input type="radio" id="themeDark" name="themeRadio" value="dark" checked />
        <label for="themeDark">dark</label>

        <input type="radio" id="themeLight" name="themeRadio" value="light" />
        <label for="themeLight">light</label>

        <input type="radio" id="themePrint" name="themeRadio" value="print" />
        <label for="themePrint">print</label>
    </fieldset>
</form>

<span class="mantra">
    ༀ མ ནི པ དྨེ ཧཱུྃ ༔
</span>

<span class="footer-text">
    &copy; 2022 - hughie (at) hugle.co.uk
</span>
