{% for item in menu %}
    <h4>{{ item.title }}</h4>

    <div class="three-cols">
        <div class="col-left">
            <h6>{{ item.date }}</h6>
            <a href="https://youtu.be/{{ item.url }}">
                <img src="https://img.youtube.com/vi/{{ item.url }}/0.jpg" alt="youtube thumbnail" />
            </a>
        </div>

        <div class="col-mid">
            {% if item.speed-series %}
            <h6>{{ item.speed-series.date] }} - speed series</h6>
            <a href="https://youtu.be/{{ item.speed-series.url }}">
                <img src="https://img.youtube.com/vi/{{ item.speed-series.url }}/0.jpg" alt="youtube thumbnail" />
            </a>
            {% endif %}
        </div>

        <div class="col-right">
            <ul>
            {% for d in item.desc %}
                <li>{{ d }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endfor %}
