{% for item in menu %}
    <h4>{{ item.title }}</h4>
    <div class="two-cols">
        <div class="col-left">
            <a href="https://youtu.be/{{ item.url }}">
                <img src="https://img.youtube.com/vi/{{ item.url }}/0.jpg" alt="youtube thumbnail" />
            </a>
        </div>

        <div class="col-right">
            <ul>
            {% for d in item.desc %}
                <li>{{ d }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endfor %}
