@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus {
    outline: 2px solid $blue;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    letter-spacing: .12em;
    margin: 0;
    line-height: 1.9em;

    @include screen-width('small') {
        font-size: 1em;
    }

    a,
    a:link,
    a:visited {
        color: $blue;
        text-decoration: underline;
    }

    a:hover {
        color: $hilight;
    }

    h4::before {
        content: '༄༅༎ ';
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Grandstander', sans-serif;
    font-style: italic;
    padding: 0 0 6px 6px;
    max-width: fit-content;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, $bkg, $blue, $bkg);
    border-image-slice: 1;
    color: $hilight;
}

header h1 {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: .3em;
    text-shadow: -2px 3px 2px $black;
    margin-top: 8px;
    max-width: initial;
    text-align: center;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .8rem;
}

.grid-wrap {
    animation-name: reveal;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

