$dark-grey: #343a40;
$blue: #157dff;
$pink: #d33682;

$bkg: $dark-grey;
$hilight: #c98f2a;
$text-light: #cdc8c8;
$text-mute: #7d7878;
$text-link: #ada8a8;
$border-light: #586e75;
$border-dark: $pink;

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $hilight;
}
