html {
    --bkg-main: #1f2428;
    --bkg-minor: #353b40;
    --text-main: #cdc8c8;
    --text-accent: #eea628;

    &.light {
        --bkg-main: #dadada;
        --bkg-minor: #bababa;
        --text-main: #333333;
        --text-accent: #333333;
    }

    &.print {
        --bkg-main: #ffffff;
        --bkg-minor: #ffffff;
        --text-main: #000000;
        --text-accent: #333333;
    }
}

$light-grey: #dadada;
$blue: #87abeb;
$pink: #d33682;
$black: #333333;
$white: #ffffff;
$green: #44c92a;
$yellow: #ffe244;

$text-mute: #7d7878;
$text-link: #8d8888;
$border-light: #586e75;
$border-dark: var(--bkg-main);

