$dark-grey: #343a40;
$light-grey: #dadada;
$blue: #00a5cf;
$pink: #d33682;
$black: #333333;
$white: #ffffff;
$green: #227058;
$yellow: #ffe244;

$bkg: $dark-grey;
$hilight: #c98f2a;
$hilight-dark: $black;
$text-light: #cdc8c8;
$text-dark: $black;
$text-mute: #7d7878;
$text-link: #8d8888;
$border-light: #586e75;
$border-dark: $dark-grey;
