$darkGrey: #073642;
$blue: #157dd1;
$pink: #d33682;

$bkg: $darkGrey;
$hilight: $pink;
$text-light: #9c9898;
$text-dark: #9c9898;
$text-link: $blue;
$border-light: #586e75;
$border-dark: $pink;

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $hilight;
}
