.home-page {
    background-image: url(/assets/images/bio/h-wall-door.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 70px;
    height: 104vw;

    @include screen-width('xsmall') {
        width: 96vw;
    }

    @include screen-width('small') {
        padding-top: 195px;
    }

    @include screen-width('medium') {
        padding-top: 160px;
    }

    @include screen-width('large') {
        padding-top: 20%;
        width: 100%;
        height: 1000px;

        .home-text-box,
        .random-hughku {
            width: 60%;
        }
    }

    .random-hughku, 
    .home-text-box,
    .dharma-names {
        width: 80%;
        margin: 0 auto;
        border: 1px solid $dark-grey;
        font-style: italic;
        background-color: $bkg;
        opacity: .8;
        line-height: .8rem;
        padding: 2px;

        @include screen-width('medium') {
            line-height: 1rem;
            padding: 10px;
        }

        @include screen-width('large') {
        }

        a, a:link, a:visited {
            color: $hilight;
        }

        table { 
            width: 100%;
            text-align: center;

            td {
                text-align: left;
            }
        }
    }

    .random-hughku {
        text-align: center;
    }

    .home-text-box {
        margin-top: 15px;
    }

    .dharma-names {
        margin-top: 0;
        font-size: .6rem;

        @include screen-width('medium') {
            margin-top: 20px;
            font-size: 1rem;
        }

        .dharma-name .unichars {
        }
    }
}

