.home-page {

    @include screen-width('xsmall') {
        width: 96vw;
    }

    @include screen-width('large') {
        height: 1000px;

        .home-text-box,
        .random-hughku {
            width: 60%;
        }
    }

    .random-hughku, 
    .home-text-box,
    .dharma-names {
        width: 80%;
        margin: 0 auto;
        border: 1px solid $border-light;
        font-style: italic;
        background-color: $bkg;
        line-height: .8rem;
        padding: 2px;

        @include screen-width('medium') {
            line-height: 1rem;
            padding: 10px;
        }

        @include screen-width('large') {
        }

        a, a:link, a:visited {
            color: $hilight;
        }

        table { 
            width: 100%;
            text-align: center;

            td {
                text-align: left;
            }
        }
    }

    .random-hughku {
        text-align: center;
    }

    .home-text-box {
        margin-top: 15px;
    }

    .dharma-names {
        margin-top: 0;

        @include screen-width('medium') {
            margin-top: 20px;
            font-size: 1rem;
        }
    }
}

