.home-page {
    position: relative;

    .image {
    }

    #overlay {
        position: absolute;
        opacity: .85;
        color: var(--text-minor);
        background-color: var(--light-grey);
        top: 50px;
        left: 50%;
        margin-left: -40%;

        a {
            color: blue;
        }
    }

    @include screen-width('large') {
        #overlay {
            top: 204px;
            left: 73px;
            margin-left: 0;
            font-weight: bold;
            line-height: 2rem;
        }
    }

    @include screen-width('xsmall') {
        width: 96vw;
    }

    @include screen-width('large') {
        height: auto; 

        .home-text-box,
        .random-hughku {
            width: 60%;
        }
    }

    .random-hughku, 
    .home-text-box,
    .dharma-names {
        width: 80%;
        margin: 0 auto;
        border: 1px solid var(--border-main);
        background-color: var(--bkg-main);
        line-height: 1.2rem;
        padding: 2px;

        @include screen-width('medium') {
            line-height: 1rem;
            padding: 10px;
        }

        @include screen-width('large') {
            line-height: 1.3rem;
        }

        a, a:link, a:visited {
            color: var(--text-accent);
        }

        table { 
            width: 100%;
            text-align: center;

            td {
                text-align: left;
            }
        }
    }

    .random-hughku {
        text-align: center;
        padding-bottom: 20px;
    }

    .home-text-box {
        margin-top: 15px;

        td {
            height: 2rem;
        }
    }

    .dharma-names {
        margin-top: 0;

        @include screen-width('medium') {
            margin-top: 20px;
            font-size: 1rem;
        }
    }
}

