#wind-window, 
#wind-window-with-menu {
    position: fixed;
    height: 400px;
    max-width: 800px;
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 1px solid $border-light;
    background-image: url("/assets/images/kites/theDowns.png");
    background-size: 800px 400px;
}

#wind-window-with-menu {
    top: 0px;
}

#kite-wrap, #kite { 
    position: absolute;
    top: 365px;
    left: 368px;
    width: 65px; 
    height: 20px; 
    background-size: 65px 20px;
    transform-origin: 47% 32%;
} 

#kite { 
    background-image: url("/assets/images/kites/blast.png");
    top: 0;
    left: 0;
}

#msg {
    position: relative;
    left: 0;
    right: 0;
    height: 400px;
    width: 800px;
    margin: 0 auto;
    font-size: .8em;
    text-align: left;
    padding-top: 432px;
}

.msg {
    margin-top: 430px;
    height: 500px;
    overflow-y: auto;
}

.wrap img {border: none;}

.gridTestH, 
.gridTestV {
    position: absolute;
    /*background-color: #777;*/
}
.gridTestH {
    height: 1px;
    width: 800px;
    left: 0px;
}

.gridTestV {
    height: 400px;
    width: 1px;
    top: 0px;
}

.button-bank {
    position: fixed;
    top: 92px;
    width: 178px;
    z-index: 4;

    input {
        float: left;
        width: 90%;
        font-size: .7em;
        text-align: left;
    }

    &.combos {
        left: 34px;

        input {
            width: 180%;
        }
    }
}

.button-bank.left {
    left: 25px;
}

.button-bank.right {
    right: 25px;
}

.individualPatternLinks {
    width: 90%;
    margin: 0 auto;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 10px;

    th, td {
        padding-left: 10px;
        padding-right: 10px;
    }

    th {
        height: 28px;
        margin-bottom: 0;
    }

    .col1, .col2, .col3 {
        border: 1px solid $border-light;
    }
}

svg path {
    /*
    &#slideCircle {
        stroke: #000;
    }
    */

    fill: none;
}

