*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    width: 97vw;
    margin-inline: auto;
    overflow-x: hidden;
}

form {
    font: inherit;
}

.grid-wrap {
    display: grid;
    justify-content: center;
    text-align: center;
    margin-inline: auto;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: auto 30px auto auto 20px;
    grid-template-areas: 
        'banner'
        'search'
        'main'
        'subnav'
        'footer';

    @include screen-width('medium') {
        margin: 0 auto;
        grid-template-rows: auto;
        grid-template-columns: minmax(140px, 230px) minmax(620px, 800px) minmax(140px, 230px);
        grid-template-areas: 
            "nav    banner search"
            "subnav main   ......"
            "footer footer footer";
    }

    .main-nav {
        grid-area: banner;
        margin-top: 8px;

        @include screen-width('medium') {
            grid-area: nav;
        }
    }

    .header {
        grid-area: banner;
        padding-top: 11px;
        height: auto;

        @include screen-width('medium') {
            height: 50px;
        }
    }

    .search {
        grid-area: search;
    }

    .subnavbar {
        grid-area: subnav;
    }

    .main {
        grid-area: main;
        margin: 0 auto;
        width: 100%;
        height: auto;
        padding-bottom: 80px;
    }

    .footer {
        grid-area: footer;
        grid-row-start: 4;
        position: fixed;
        bottom: 0;
        width: 100%;

        form {
            float: left;
            height: 22px;
            width: 275px;
            margin: 2px 0 0 20px;
            border: none;
            text-align: left;
        }
    }
}

