$border-size: 8px;

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    margin-inline: auto;
    padding: $border-size;
    font-size: .8em;
    overflow-x: hidden;

    @include screen-width('small') {
        font-size: 1em;
    }
}

.grid-wrap {
    display: grid;
    justify-content: center;
    text-align: center;
    margin-inline: auto;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 30px auto auto 20px;
    grid-template-areas: 
        'banner'
        'search'
        'subnav'
        'main'
        'footer';

    @include screen-width('medium') {
        margin: 0 auto;
        grid-template-rows: auto;
        grid-template-columns: 30px 620px 250px;
        grid-template-areas: 
            "nav banner search"
            ".... main subnav"
            "footer footer footer";
    }

    @include screen-width('large') {
        grid-template-columns: 30px max(800px) 300px;
    }

    #hamburger-menu {
        grid-area: banner;
        padding: 0;

        @include screen-width('medium') {
            grid-area: nav;
        }

        #sidebar-menu {
            width: calc(100vw - ($border-size * 2));
        }
    }

    .header {
        grid-area: banner;
        height: 40px;
        border-bottom: 1px solid $border-light;
    }

    .search {
        grid-area: search;

        @include screen-width('medium') {
            margin-top: 14px;
            margin-left: 6px;
            text-align: left;
        }
    }

    .subnavbar {
        grid-area: subnav;
    }

    .main {
        grid-area: main;
        margin: 0 auto;
        width: 100%;
        height: auto;
        padding-bottom: 80px;

        p.image {
            padding: 0;
            max-width: 800px;
        }

        p, h1, h2, h3, h4, h5, h6 {
            padding: 0 3rem;
            max-width: 75ch;
        }
    }

    .footer {
        grid-area: footer;
        grid-row-start: 4;
        position: fixed;
        margin-left: -8px;
        bottom: 0;
        width: 100%;
        background: rgba(220, 220, 220, .9);
        text-align: right;

        .mantra {
            color: $dark-grey;
            font-size: .7rem;
        }

        .footer-text {
            font-style: italic;
            font-size: .8rem;
            margin-right: 10px;
            color: $dark-grey;
        }

        button.theme-toggle {
            float: left;
            height: 22px;
            width: 42px;
            margin: 2px 0 0 20px;
            background-image: url("../images/theme-changer.png");
            background-size: 98%;
            background-repeat: no-repeat;
            border: none;
        }
    }
}

