body {
    font-family: 'Oxygen';
    letter-spacing: .1em;
    margin: 0;
    line-height: 25px;
}

img {
    border: 1px solid $border-light;
}

.header {
    font-size: 1.6rem;
    letter-spacing: .3em;
    padding-top: 8px;
    color: $hilight;

    a:visited {
        color: $hilight;
    }
}

.grid-wrap {
    animation-name: reveal;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

.main {
    padding-top: 9px;
    text-align: left;

    img {
        width: 100%;
    }

    h4 {
        padding: 0 0 6px 6px;
        border-bottom: 1px solid $border-light;
        font-style: italic;
        font-size: 1.3rem;
    }

    .center-img {
        display: block;
        max-width: 99%;
        min-width: 99%;
        max-height: auto;
    }

    a,
    a:link,
    a:visited {
        color: $text-link;
        text-decoration: underline;
    }

    a:hover {
        color: $hilight;
        text-decoration: underline;
    }

    ul {
        list-style-type: square;

        li {
            margin-bottom: 8px;
        }
    }

    .poem, 
    .center-quote {
        img {
            width: 100%;
            margin-bottom: 20px;
        }

        img.half {
            width: 50%;
        }

        padding: 19px 0 0 0;
    }

    .poem {
        margin-left: 20px;
    }

    .poem-footer {
        text-align: right;
        font-style: italic;
        font-size: 95%;
        color: $hilight;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main::after {
    content: 'ༀ མ ནི པ དྨེ ཧཱུྃ ༔';
    display: block;
    width: 100%;
    margin: 40px auto 0 auto;
    color: $text-mute;
    text-align: center;
    font-size: 2rem;
}

.shop-item {
    float: left;
    clear: left;
    width: 100%;
    border-bottom: 1px solid $border-light;
    margin-bottom: 40px;
    padding: 20px;

    .graphic {
        float: left;
        min-width: 252px;
        text-align: center;

        img {
            max-width: 252px;
        }
    }

    .info {
        float: left;
        margin-left: 30px;
        max-width: 62%;

        li {
            margin-bottom: 20px;
        }
    }
}

.language-plaintext.highlighter-rouge pre {
    color: $white;
    margin-left: 20px;
}
