body {
    font-family: 'Oxygen';
    font-size: 1em;
    letter-spacing: .1em;
    margin: 0;
    line-height: 1.8em;

    @include screen-width('small') {
        font-size: 1em;
    }

    a,
    a:link,
    a:visited {
        color: $text-link;
        text-decoration: underline;
    }

    a:hover, 
    .sidebar-menu .hamburger-dropdown .submenu li.subsubitem a:hover,
    .subnavbar ul li a:hover {
        color: $hilight;
    }
}

.header {
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: .3em;
    padding-top: 8px;
    color: $hilight;
    text-shadow: -2px 3px 2px $black;
}

.grid-wrap {
    animation-name: reveal;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

.main {
    padding: 3px;

    @include screen-width('small') {
        padding: 20px;
    }

    background-color: $dark-grey;
    box-shadow: -4px 7px 5px 0px rgba(30, 30, 30, .6);
    text-align: left;

    img {
        width: 100%;
        border: 1px solid $border-light;
    }

    p.full-width {
        padding: 0;
        max-width: 800px;
    }

    p, h1, h2, h3, h4, h5, h6 {
        padding: 0 1rem;
    }

    @include screen-width('small') {
        padding: 0 3rem;
        max-width: 75ch;
    }

    p.half {
        text-align: center;

        img {
            width: 50%;
            margin: 0 auto;
        }
    }

    h4 {
        padding: 0 0 6px 6px;
        border-bottom: 1px solid $border-light;
        font-style: italic;
        font-size: 1.5rem;
    }

    .center-img {
        display: block;
        max-width: 100%;
        min-width: 50%;
    }

    ul {
        list-style-type: square;

        li {
            margin-bottom: 8px;
        }
    }

    .poem, 
    .center-quote {
        img {
            width: 100%;
            margin-bottom: 20px;
        }

        img.half {
            width: 50%;
        }

        padding: 19px 0 0 0;
    }

    .poem {
        margin-left: 20px;
    }

    .poem-footer {
        text-align: right;
        font-style: italic;
        font-size: 95%;
        color: $hilight;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.shop-item {
    float: left;
    clear: left;
    width: 100%;
    border-bottom: 1px solid $border-light;
    margin-bottom: 40px;
    padding: 20px;

    .graphic {
        float: left;
        min-width: 252px;
        text-align: center;

        img {
            max-width: 252px;
        }
    }

    .info {
        float: left;
        margin-left: 30px;
        max-width: 62%;

        li {
            margin-bottom: 20px;
        }
    }
}

.language-plaintext.highlighter-rouge pre {
    color: $white;
    margin-left: 20px;
}
