body {
    font-family: 'Paprika', cursive;
    font-size: 1.1em;
    color: $text-light;
    letter-spacing: .1em;
    margin: 0;
    padding: 0;
    line-height: 25px;
    background: $bkg url("../images/chanCharacter.png") no-repeat;
    background-attachment: fixed;
    background-position: 98% 95%;
    background-size: 10%;
}

.wrap {
    position: relative;
    min-height: 800px;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;

    img {
        max-width: 100%;
        border: 1px solid $border-light;
    }
}

.header {
    min-height: 61px;
    color: $hilight;
    font-style: italic;
    font-size: 1.5em;
    letter-spacing: .3em;
    padding: 13px 80px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid $border-light;
}

#search-form {
    position: absolute;
    top: 15px;
    right: 0;

    #search-term {
        color: $text-light;
        background-color: $bkg;
        width: 140px;
        border-color: $text-light;
    }
}

.home-page {
    table { 
        width: 100%;

        text-align: center;
    }

    .home-sub-title {
        font-style: italic;
        color: $hilight;
        text-align: center;
    }
}

.main-content {
    position: absolute;
    top: 80px;
    color: $text-light;
    min-height: 100%;
    min-width: 560px;
    text-align: left;
    padding-bottom: 80px;

    &.subMenu {
        left: 240px;
    }

    td {
        text-align: left;
        vertical-align: top;
    }

    h4 {
        border-bottom: 1px solid $border-light;
    }
}

.center-img {
    display: block;
    max-width: 100%;
    min-width: 100%;
    max-height: auto;
}

a:link,
a:visited {
	color: $text-link;
    border-bottom: 1px solid $text-mute;
}
a:hover {
    color: $hilight;
    text-decoration: none;
}

ul {
    list-style-type: square;
}

.poem {
    img {
        width: 100%;
        margin-bottom: 20px;
    }

    img.half {
        width: 50%;
    }

    padding: 6px 0 0 0;

    h4 {
        border-bottom: 1px solid $border-light;
    }
}

.main-content {
    .poem-written-date {
        text-align: right;
        color: $text-light;
    }

    .poem-footer {
        padding-top: 26px;
    }
}

.footer {
    font-style: italic;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
    background: rgba(220, 220, 220, 0.70);

    .footer-text {
        margin-right: 10px;
        color: $dark-grey;
    }
}

.shop-item {
    float: left;
    clear: left;
    width: 100%;
    border-bottom: 1px solid $border-light;
    margin-bottom: 40px;
    padding: 20px;

    .graphic {
        float: left;

        img {
            max-width: 252px;
        }
    }

    .info {
        float: left;
        margin-left: 30px;
        max-width: 62%;

        li {
            margin-bottom: 20px;
        }
    }
}
