body {
    background-color: $bkg;
    font-family: 'Caveat', cursive;
    font-size: 1.4em;
    letter-spacing: .1em;
    margin: 0;
    padding: 0;
    line-height: 25px;
}

.wrap {
    position: relative;
    min-height: 429px;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;

    img {
        max-width: 100%;
    }
}

.header {
    min-height: 61px;
    color: $text-dark;
    font-style: italic;
    letter-spacing: .3em;
    padding: 13px 80px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid $border-light;
}

.homePage table { 
    width: 100%;
    text-align: center;
}

.mainContent {
    position: absolute;
    top: 80px;
    color: $text-dark;
    min-height: 450px;
    min-width: 246px;
    text-align: left;
    padding-bottom: 80px;
    background: transparent url("../images/mushin.gif") no-repeat scroll;
    background-position: 90% 90%;
    background-size: 30%;

    &.subMenu {
        left: 240px;
    }

    td {
        text-align: left;
        vertical-align: top;
    }

    h4 {
        border-bottom: 1px solid $border-dark;
    }
}

.center-img {
    display: block;
    max-width: 100%;
    min-width: 100%;
    max-height: auto;
}

a:link,
a:visited {
	color: $text-link;
}

.poem {
    img {
        width: 100%;
        margin-bottom: 20px;
    }

    padding: 6px 0 0 0;

    h4 {
        border-bottom: 1px solid $border-light;
    }
}

.mainContent .poem-written-date {
    text-align: right;
    color: $text-light;
    margin-top: 90px;
}

.footer {
    font-style: italic;
    font-size: 12px;
    position: fixed;
    left: 37%;
    bottom: 0;
    width: 35%;
    text-align: center;
    background: rgba(220, 220, 220, 0.70);
}

