/* Most desktops */
@media only screen and (min-device-width: 991px) {
}

/* Most tablets */
@media only screen and (max-device-width: 990px) {
}

/* Most mobiles */
@media only screen and (max-device-width: 480px) {
    body {
        font-size: 1.2em;
    }

    .mainContent {
        left: 18px;

        &.subMenu {
            left: 140px;
            width: 210px;
            min-width: 210px;
        }
    }

    nav.poem-menu {
        font-size: 1em;
        max-width: 140px;
        min-width: 114px;
        left: 0;

        .toggler {
            display: block;
            height: 20px;
            line-height: 20px;
            width: 100%;
            background: $hilight;
            text-align: left;
        }
    }

    .wrap img {
        max-width: 260px;
    }

    .header {
        font-size: 1em;
        max-width: 300px;
    }
    
    #frmSearch {
        position: absolute;
        right: 7px;

        #searchTerm {
            width: 100px;
        }
    }

    nav.poem-menu {
        ul li {
            font-size: 1.1em;
        }
    }
}

