html {
    .navbar-nav, 
    .btn-primary,
    .dropdown-menu {
        background-color: $dark-grey;
        color: $hilight;
        border: 1px solid $border-light;
    }

    &.light {
        .navbar-nav {
            background-color: $light-grey;
            color: $text-dark;
        }

        .navbar-nav, 
        .btn-primary,
        .dropdown-menu {
            border: none;
            color: $hilight-dark;
        }
    }
}

.navbar {
    position: fixed;
    top: 9px;
    left: 0;
    z-index: 2;

    .navbar-nav {
        border-radius: .25rem;
        width: 305px;
        padding: 8px;
        margin-top: 10px;

        .btn {
            background-color: inherit;
            border-color: $dark-grey;
        }

        .btn-primary {
            line-height: 30px;
            text-align: left;
            width: 100%;
        }

        .show > .btn-primary.dropdown-toggle:focus,
        .btn-primary:focus,
        .btn:focus {
            box-shadow: none!important;
            background-color: inherit;
            border-color: $dark-grey;
            transition: none;
        }

        .dropdown-menu {
            background-color: inherit;
            margin-left: 30px;

            &.show {
                margin-top: -10px;
                border: none;
            }
        }
    }
}

nav.poem-menu {
    position: absolute;
    top: 80px;
    left: -82px;
    float: left;
    text-align: right;
    padding-bottom: 30px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0 8px 0 0;
        display: block;

        li {
            padding-right: 5px;
            padding-bottom: 2px;
        }

        li.current {
            border-right: 1px solid $hilight;
        }
    }

    .toggler {
        display: none;
    }
}
