$breakpoints: (
    'xsmall': ( max-width: 599px ),
    'small': ( min-width: 600px ),
    'medium': ( min-width: 900px ),
    'large': ( min-width: 1200px )
) !default;

@mixin screen-width($breakpoint) {
    @if map_has_key($breakpoints, $breakpoint) {
        @media only screen and #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        }
    }
}

@mixin reveal($milisecs) {
    display: block;
    animation-name: reveal;
    animation-duration: $milisecs;
    animation-iteration-count: 1;
}

@keyframes reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
