/* hamburger */
.burger-shower {
  display: none;
}

.burger-shower + .hamburger-dropdown {
    display: none;
}

.burger-shower:checked + .hamburger-dropdown {
    display: block;
    animation-name: reveal;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
    height: 90vh;
    overflow: auto;
}

#hamburger-menu {
    position: relative;
    top: 0px;
    left: 15px;
    width: 50px;
    height: 60px;
    display: inline;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', Sans-serif;
    cursor: pointer;

    background-image: url(/assets/images/kanji-three-shadow.png);
    background-size: 100%;
    background-repeat: no-repeat;

    @include screen-width('medium') {
        left: -10px;
    }

    @include screen-width('large') {
        top: 1px;
        left: -21px;
    }
}

#hamburger-menu:hover,
#hamburger-menu:focus {
    box-shadow: 0 1px 5px 4px rgba(200, 200, 200, .3);
}

#sidebar-menu {
    position: absolute;
    top: 0;
    left: -2000px;
    width: 278px;
    height: 80vh;
    background-color: $bkg;
    opacity: .95;
    transition: 0.3s;
    padding: 0px 10px;
    z-index: 6;
    border: 1px solid $border-light;

    @include screen-width('medium') {
        width: 830px;
    }

    h3 {
        border-bottom: 1px solid $border-light;
    }

    ul {
        padding-left: 5px;

        li {
            text-align: left;
            list-style-type: none;
            line-height: 2rem;
        }
    }


    li.level1-child a {
        margin-left: 6px;
    }

    li.level1-child a, 
    li.level1-parent a,
    li.level1-parent .heading,
    .hamburger-dropdown .sub-heading {
        color: $hilight;
        font-size: 1rem;
    }

    li.level1-parent {
        clear: both;
        margin-left: 8px;

        .heading {
            background-image: url(/assets/images/down-arrow-svgrepo-com.svg);
            background-repeat: no-repeat;
            background-position: right;
            background-size: 20px;
        }

    }

    li.level2-parent {
        margin-left: 12px;
    }

    @include screen-width('medium') {
        li.level2-parent {
            float: left;
            width: 30%;
        }
    }

    .hamburger-dropdown a.subitem, 
    .hamburger-dropdown .submenu li.subsubitem a {
        color: $blue;
        text-decoration: underline;
        line-height: 1.2rem;
    }

    ul.submenu {
        li.subsubitem a {
            color: $blue;
            font-size: 1rem;
        }
    }
}

/* subnav */
.subnavbar {
    text-align: left;
    font-size: 1rem;

    ul {
        list-style-type: none;

        li a, 
        li a:visited {
            color: $blue;
        }

        li.current a {
            color: $hilight;
        }
    }

    &.empty {
        display: none;
    }

    @include screen-width('medium') {
        padding-top: 14px;
        margin: 0;
        padding-left: 10px;

        ul {
            display: block;
            border-left: 1px solid $blue;

            li.current a {
                color: $hilight;
            }
        }

        &.empty {
            display: block;
            background-image: url(/assets/images/chanCharacter.png);
            background-repeat: no-repeat;
            background-position: 18% 20%;
            background-size: 50%;
            height: 310px;
            opacity: .4;
        }
    }

    button.toggler {
        height: 30px;
        width: 30px;
        margin-left: 36px;
        background-color: transparent;
        border: none;
    }

    button.toggler.is-showing::after, 
    button.toggler.not-showing::after {
        margin-left: 35px;
        color: $text-link;
    }

    button.toggler.is-showing {
        background-image: url(/assets/images/hide-sdebar-vert-svgrepo-com.svg);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    button.toggler.is-showing::after {
        content: 'hide';
    }

    button.toggler.not-showing {
        background-image: url(/assets/images/down-arrow-svgrepo-com.svg);
        background-size: 50%;
        background-position: 7px 9px;
        background-repeat: no-repeat;
    }

    button.toggler.not-showing::after {
        content: 'show';
    }
}

