/* hamburger */
.burger-shower {
  display: none;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
    height: 90vh;
    overflow: auto;
}

.burger-shower + .hamburger-dropdown {
    display: none;
}

.burger-shower:checked + .hamburger-dropdown {
    display: block;
}

#hamburger-menu {
    position: relative;
    top: 20px;
    left: 7px;
    width: 30px;
    height: 20px;
    display: inline;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', Sans-serif;
    background: linear-gradient(
      to bottom, 
      $text-link, $text-link 20%, 
      $bkg 20%, $bkg 40%, 
      $text-link 40%, $text-link 60%, 
      $bkg 60%, $bkg 80%, 
      $text-link 80%, $text-link 100%
    );
}

#sidebar-menu {
    position: absolute;
    top: 0;
    left: -2000px;
    width: 250px;
    height: 80vh;
    background-color: $bkg;
    transition: 0.3s;
    padding: 0px 10px;
    z-index: 6;
    border: 1px solid $border-light;

    ul {
        padding-left: 5px;

        li {
            text-align: left;
            list-style-type: none;
            line-height: 2rem;
        }
    }


    li.level1-child a {
        margin-left: 6px;
    }

    li.level1-child a, 
    li.level1-parent a,
    li.level1-parent .heading,
    .hamburger-dropdown .sub-heading {
        color: $hilight;
        font-size: 1rem;
    }

    li.level1-parent {
        margin-left: 8px;

        .heading {
            background-image: url(/assets/images/down-arrow-svgrepo-com.svg);
            background-repeat: no-repeat;
            background-position: right;
            background-size: 7%;
        }

    }

    li.level2-parent {
        margin-left: 12px;
    }

    a:hover {
        text-decoration: underline;
    }

    .hamburger-dropdown a.subitem, 
    .hamburger-dropdown .submenu li.subsubitem a {
        color: $blue;
        text-decoration: underline;
        line-height: 1.2rem;
    }

    ul.submenu {
        li.subsubitem a {
            color: $blue;
            font-size: 1rem;
        }
    }
}

/* subnav */
.subnavbar {
    text-align: left;
    font-size: 1rem;

    ul {
        display: none;
        list-style-type: none;

        li a, 
        li a:visited {
            color: $blue;
        }

        li.current a {
            color: $hilight;
        }
    }

    &.empty {
        display: none;
    }

    @include screen-width('medium') {
        padding-top: 14px;
        margin: 0;
        padding-left: 10px;

        ul {
            display: block;
            border-left: 1px solid $blue;

            li.current a {
                color: $hilight;
            }
        }

        &.empty {
            display: block;
            background-image: url(/assets/images/mushin.gif);
            background-repeat: no-repeat;
            background-position: top;
            background-size: 69%;
            height: 310px;
        }
    }

    a.toggler {
        display: block;
        margin-bottom: 10px;
        border: none;
        font-style: italic;
        color: $blue;
    }
}
