#wind-window {
    position: relative;
    height: 400px;
    width: 800px;
    border: 1px solid $border-light;
    background-image: url("/assets/images/kilkennySkyBg.png");
    background-size: 800px 400px;
}

#msg {
    min-height: 30px;
    height: auto;
    width: 800px;
    margin-top: 10px;
    padding-top: 3px;
    padding-left: 5px;
    font-size: .8em;
}

#kite-wrap, #kite { 
    position: absolute;
    top: 365px;
    left: 380px;
    width: 45px; 
    height: 25px; 
    background-size: 45px 25px;
    transform-origin: 50% 35%;
} 

#kite { 
    background-image: url("/assets/images/kite.png");
    top: 0;
    left: 0;
}

#dude-wrap {
    position: absolute;
    top: 282px;
    left: 32px;
    width: 73px;
    height: 113px;
    opacity: .7;
    overflow: hidden;
}

#dude {
    background-image: url("/assets/images/spriteWind.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 1095px;
    height: 113px;
}

.wrap img {border: none;}

.pathTestPoint {
    position: absolute;
    height: 6px;
    width: 6px;
    background-color: #f00;
}

.button-bank {
    position: absolute;
    top: 0px;
    left: -85px;
    width: 78px;

    input {
        float: left;
        width: 90%;
        font-size: .7em;

        &#reset {
            position: absolute;
            top: 370px;
            left: 0;
        }
    }

    &.right {
        left: 810px;
    }

    &.combos {
        left: 888px;
        display: none;

        input {
            width: 180%;
        }
    }

    &.solo {
        left: -152px;

        input {
            width: 180%; 
        }
    }
}

.individualPatternLinks {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 10px;

    th, td {
        padding-left: 10px;
        padding-right: 10px;
    }

    th {
        height: 28px;
        margin-bottom: 0;
    }

    .col1, .col2, .col3 {
        border: 1px solid $border-light;
    }
}

svg path {
    /*
    &#slideCircle {
        stroke: #000;
    }
    */

    fill: none;
}
