.search {
    button {
        display: none;
    }

    @include screen-width('medium') {
        position: relative;
        margin-top: 8px;
        text-align: left;

        button {
            position: absolute;
            z-index: 1;
            display: block;
            width: 50px;
            height: 50px;
            background-image: url(/assets/images/site/search.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-color: transparent;
            border: none;
            opacity: .85;
        }

        #search-form {
            display: none;
            z-index: -1;
            margin-top: 12px;
            transition: opacity 350ms ease-in;
        }

        #search-form input[type="text"] {
        }
    }

    #search-term {
        font: inherit;
        width: 200px;
        height: 25px;

        @include screen-width('medium') {
            width: 100%;
        }
    }
}
