aside.subnav2 {
    section {
        background-color: var(--bkg-main);
        border: 1px solid var(--border-main);
        padding: 1rem;
        margin-bottom: 15px;

        button {
            width: 160px;
            font-size: .9rem;
            margin-bottom: 8px;
        }

        nav.block ul {
            display: none;
            list-style: none;
            margin: 0;
            text-align: left;
        }
    }
}
