/* Themes */
html {
    body {
        color: $text-light;
        background-color: $dark-grey-shift;

        h1, h2, h3, h4, h5, h6 {
            color: $hilight;
        }

        h4::before {
            content: '༄༅༎ ';
        }

        #search-term {
            color: $text-light;
            background-color: $dark-grey;
        }

        .random-hughku, 
        .home-text-box,
        .dharma-names {
            color: $text-light;

            a {
                color: $hilight;
            }
        }
    }

    &.light {
        body {
            background-color: $light-grey;
            color: $text-dark;
        }

        .header,
        h1, h2, h3, h4, h5, h6 {
            color: $hilight-dark;
        }

        #search-term {
            color: $text-dark;
            background-color: $light-grey;
        }

        .random-hughku, 
        .home-text-box,
        .dharma-names {
            color: $white;

            a {
                color: $white;
            }
        }

        .main-content.subMenu .quote-heading {
            color: $blue;
        }

        #hamburger-menu {
            color: $text-dark;
            background: linear-gradient(
              to bottom, 
              $dark-grey, $dark-grey 20%, 
              $text-light 20%, $text-light 40%, 
              $dark-grey 40%, $dark-grey 60%, 
              $text-light 60%, $text-light 80%, 
              $dark-grey 80%, $dark-grey 100%
            );
        }

        #sidebar-menu {
            background-color: $light-grey;
            border: 1px solid $dark-grey;
            li.level1-child a, 
            li.level1-parent a,
            li.level1-parent .heading,
            .hamburger-dropdown .sub-heading, 
            .hamburger-dropdown a.subitem, 
            .hamburger-dropdown .submenu li.subsubitem a {
                color: $text-dark;
            }
        }
    }
}
