.thesium {
    ul {
        margin-left: 0;
    }

    .data {
        text-align: justify;
        font-style: italic;
        color: $hilight;
        border-bottom: 1px solid $border-light;
        margin-bottom: 13px;
    }

    .quote {
        color: $hilight;
        font-style: italic;
        border-bottom: 1px solid $border-light;
    }

    .speech {
        text-align: justify;
        line-height: 1.6rem;
        font-family: Lucida;
        font-style: italic;
        font-size: 110%;
    }

    .next {
        border-top: 1px solid $border-light;
        margin-top: 60px;
        color: $hilight;
        font-style: italic;
    }
}

