/* Themes */
html {
    body {
        color: $text-light;
        background-color: $dark-grey-shift;

        .main {
            background-color: $dark-grey;
        }

        h1, h2, h3, h4, h5, h6 {
            color: $hilight;
        }

        h4::before {
            content: '༄༅༎ ';
        }

        #search-term {
            color: $text-light;
            background-color: $dark-grey;
        }

        .random-hughku, 
        .home-text-box,
        .dharma-names {
            color: $text-light;

            a {
                color: $hilight;
            }
        }
    }

    &.light {
        body,
        .main {
            background-color: $light-grey;
            color: $text-dark;
        }

        .header,
        h1, h2, h3, h4, h5, h6 {
            color: $hilight-dark;
        }

        #search-term {
            color: $text-dark;
            background-color: $light-grey;
        }

        .random-hughku, 
        .home-text-box,
        .dharma-names {
            color: $white;

            a {
                color: $white;
            }
        }

        .main-content.subMenu .quote-heading {
            color: $blue;
        }

        #hamburger-menu:hover,
        #hamburger-menu:focus {
            box-shadow: 0 1px 5px 4px rgba(30, 30, 30, .5);
        }

        #sidebar-menu {
            background-color: $light-grey;
            border: 1px solid $dark-grey;
            li.level1-child a, 
            li.level1-parent a,
            li.level1-parent .heading,
            .hamburger-dropdown .sub-heading, 
            .hamburger-dropdown a.subitem, 
            .hamburger-dropdown .submenu li.subsubitem a {
                color: $text-dark;
            }
        }
    }
}
