---
title: blog categories
banner-title: blogs
layout: default 
---

<h4>Hughie's blogs</h4>

{% assign sorted-cats = site.categories | sort %}

<ul>
    {% for cat in sorted-cats %}
        {% capture ct %}{{ cat[0] }}{% endcapture %}
        
        <li>
            <a href="/blogs/{{ ct }}.html">{{ ct }}</a>

            <ul>
                {% for post in site.categories[ct] %}
                    <li>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>


