{{ define "main" }}
    {{ .Scratch.Set "menu" .Site.Data.mantrasphere.menu }}

    {{ if .Params.imageDir }}
        <h2 class="poem-title">{{ .Params.title }}</h2>
        {{ if ne .Content "" }}
            <p> {{ .Content }} </p>
        {{ end }}

        {{ $imageDir := .Params.imageDir }}

        {{ range .Params.images }}
            <figure>
                {{ if .name }}
                    <h5>{{ .name }}</h5>
                {{ end }}

                <img src = "{{ $imageDir }}{{ .img }}"
                     alt = "{{ .name }}"
                     class = "center-img" />

                <figurecaption>
                    {{ if .text }}
                        {{ .text }}
                        <br />
                    {{ end }}

                    {{ if .url }}
                        <a href="{{ .url }}">{{ .urlText }}</a>
                    {{ end }}
                </figurecaption>
            </figure>
        {{ end }}

        {{ .Scratch.Set "currentTitle" .Params.title }}
        {{ partial "page-footer-yml.html" . }}
    {{ else }}
        {{ partial "prose.html" . }}
    {{ end }}
{{ end }}

{{ define "subnavbar" }}
    {{ partial "subnavbar.html" . }}
{{ end }}
