<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <meta name="description" content="{{ .Site.Params.description }}">

    <title>{{ .Site.Params.Title }}{{ if .Params.title }} | {{ .Params.title }}{{ end }}</title>
    <link rel="shortcut icon" href="/images/site/favicon.ico" type="image/x-icon">

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="/_pagefind/pagefind-ui.js"></script>
    <script src="/js/cookies.js"></script>

    {{ $style := resources.Get "sass/hugle.scss" | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>
