<nav class="main-nav">
    <button class="toggler"> 
        <div class="button-text">menu</div>
    </button>

    <div class="sidebar-menu little">
        <button class="heading top">༺ menu ༻</button>

        <ul class="little">


            <li class="level1-child">
                <a href="/" alt="home" class="">
                    home
                </a>
            </li>



            <li class="level1-parent">
                <button class="heading">
                    writing
                </button>

                <ul class="level1-parent-dropdown">


                    <li class="level2-parent">
                        <div class="sub-heading">poetry</div>

                        <ul class="submenu">

                            <li class="subsubitem">
                                <a href="/mbm/" alt="Mahabodhi Moonlight">
                                    Mahabodhi Moonlight
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/yarn/" alt="Yarn">
                                    Yarn
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/sun/" alt="Sunshine &amp; Shadow">
                                    Sunshine &amp; Shadow
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/bucket/" alt="Bucket">
                                    Bucket
                                </a>
                            </li>

                        </ul>
                    </li>



                    <li class="level2-parent">
                        <div class="sub-heading">prose</div>

                        <ul class="submenu">

                            <li class="subsubitem">
                                <a href="/pages/prose/pilgrimage/010-leaving.html" alt="Pilgrimage">
                                    Pilgrimage
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/pages/prose/firstBurn/01-Mn04.html" alt="First Burn">
                                    First Burn
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/thesium/" alt="Thesium">
                                    Thesium
                                </a>
                            </li>

                        </ul>
                    </li>



                    <li class="level2-parent">
                        <div class="sub-heading">blogs</div>

                        <ul class="submenu">

                            <li class="subsubitem">
                                <a href="/blogs/essays.html" alt="essays">
                                    essays
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/blogs/ideas.html" alt="ideas">
                                    ideas
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/blogs/kites.html" alt="kites">
                                    kites
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/blogs/magic.html" alt="magic">
                                    magic
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/blogs/personal" alt="personal">
                                    personal
                                </a>
                            </li>

                        </ul>
                    </li>


                </ul>
            </li>



            <li class="level1-parent">
                <button class="heading">
                    Dharma
                </button>

                <ul class="level1-parent-dropdown">


                    <li class="level2-parent">
                        <div class="sub-heading">mantrasphere</div>

                        <ul class="submenu">

                            <li class="subsubitem">
                                <a href="/mantrasphere/" alt="info">
                                    info
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/mantrasphere/listen.html" alt="listen">
                                    listen
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/mantrasphere/songs.html" alt="songs">
                                    songs
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/mantrasphere/pix-launch.html" alt="launch party">
                                    launch party
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/mantrasphere/pix-promo.html" alt="promo pix">
                                    promo pix
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/mantrasphere/press.html" alt="press release">
                                    press release
                                </a>
                            </li>

                        </ul>
                    </li>



                    <li class="level2-parent">
                        <div class="sub-heading">mantra</div>

                        <ul class="submenu">

                            <li class="subsubitem">
                                <a href="/blogs/mantra.html" alt="mantra carving">
                                    mantra carving
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/blogs/mantra-archive.html" alt="mantra archive">
                                    mantra archive
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/pages/pix/stones.html" alt="gallery">
                                    gallery
                                </a>
                            </li>

                        </ul>
                    </li>



                    <li class="level2-parent">
                        <div class="sub-heading">sutta anthology</div>

                        <ul class="submenu">

                            <li class="subsubitem">
                                <a href="/pages/suttas/intro.html" alt="intro">
                                    intro
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/pages/suttas/core-suttas.html" alt="core sutras">
                                    core sutras
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/pages/suttas/list-of-suttas.html" alt="list">
                                    list
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/pages/suttas/mn/index.html" alt="MN">
                                    MN
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/pages/suttas/sn1/index.html" alt="SN1">
                                    SN1
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/pages/suttas/sn2/index.html" alt="SN2">
                                    SN2
                                </a>
                            </li>

                        </ul>
                    </li>


                </ul>
            </li>



            <li class="level1-parent">
                <button class="heading">
                    play
                </button>

                <ul class="level1-parent-dropdown">


                    <li class="level2-parent">
                        <div class="sub-heading">kites</div>

                        <ul class="submenu">

                            <li class="subsubitem">
                                <a href="/blogs/kites.html" alt="blog">
                                    blog
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/pages/kites/fleet.html" alt="fleet">
                                    fleet
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/pages/kites/rotation-codes.html" alt="rotation codes">
                                    rotation codes
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/kites/kite-youtubes.html" alt="youtubes">
                                    youtubes
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/kites/kite-messing-youtubes.html" alt="messing about vids">
                                    messing about vids
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/kites/sims.html" alt="sims">
                                    sims
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/kites/kaitodo.html" alt="kaitodo">
                                    kaitodo
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/kites/kite-thoughts.html" alt="kite thoughts">
                                    kite thoughts
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/kites/iskcb.html" alt="ISKCB">
                                    ISKCB
                                </a>
                            </li>

                        </ul>
                    </li>



                    <li class="level2-parent">
                        <div class="sub-heading">magic</div>

                        <ul class="submenu">

                            <li class="subsubitem">
                                <a href="/pages/magic/main.html" alt="info">
                                    info
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/pages/magic/testimonials.html" alt="testimonials">
                                    testimonials
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/pages/magic/pix.html" alt="pix from gigs">
                                    pix from gigs
                                </a>
                            </li>

                        </ul>
                    </li>



                    <li class="level2-parent">
                        <div class="sub-heading">silly</div>

                        <ul class="submenu">

                            <li class="subsubitem">
                                <a href="/pages/stuff/tvluton.html" alt="TV Lutòn">
                                    TV Lutòn
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/pages/stuff/tiab.html" alt="tiab">
                                    tiab
                                </a>
                            </li>

                        </ul>
                    </li>


                </ul>
            </li>



            <li class="level1-parent">
                <button class="heading">
                    galleries
                </button>

                <ul class="level1-parent-dropdown">


                    <li class="level2-parent">
                        <div class="sub-heading">galleries</div>

                        <ul class="submenu">

                            <li class="subsubitem">
                                <a href="/pages/pix/bio.html" alt="bio">
                                    bio
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/pages/pix/circus.html" alt="circus">
                                    circus
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/pages/pix/chan.html" alt="Chan">
                                    Chan
                                </a>
                            </li>

                            <li class="subsubitem">
                                <a href="/pages/pix/faves.html" alt="faves">
                                    faves
                                </a>
                            </li>

                        </ul>
                    </li>


                </ul>
            </li>



            <li class="level1-child">
                <a href="/shop/" alt="shop" class="">
                    shop
                </a>
            </li>



            <li class="level1-child">
                <a href="/pages/pix/portfolio.html" alt="IT portfolio" class="">
                    IT portfolio
                </a>
            </li>



            <li class="level1-child">
                <a href="/pages/stuff/links.html" alt="links" class="">
                    links
                </a>
            </li>



            <li class="level1-child">
                <a href="/sitemap.html" alt="sitemap" class="">
                    sitemap
                </a>
            </li>



            <li class="level1-child">
                <a href="/about/" alt="about" class="">
                    about
                </a>
            </li>



            <li class="level1-child">
                <a href="/contact/" alt="contact" class="">
                    contact
                </a>
            </li>


        </ul>
    </div>

    <div class="sidebar-menu big">
        <button class="heading top">༺ menu ༻</button>

        <div class="ul-blocks">
            <ul class="solos">


                <li class="">
                    <a href="/" alt="home" class="">
                        home
                    </a>
                </li>











                <li class="">
                    <a href="/shop/" alt="shop" class="">
                        shop
                    </a>
                </li>



                <li class="">
                    <a href="/pages/pix/portfolio.html" alt="IT portfolio" class="">
                        IT portfolio
                    </a>
                </li>



                <li class="">
                    <a href="/pages/stuff/links.html" alt="links" class="">
                        links
                    </a>
                </li>



                <li class="">
                    <a href="/sitemap.html" alt="sitemap" class="">
                        sitemap
                    </a>
                </li>



                <li class="">
                    <a href="/about/" alt="about" class="">
                        about
                    </a>
                </li>



                <li class="">
                    <a href="/contact/" alt="contact" class="">
                        contact
                    </a>
                </li>


            </ul>

            <ul class="nests">




                <li class="level1-parent">
                    <div class="icon">

                        <img src="/images/site/writing.png" alt="icon">

                    </div>

                    <button class="heading"> writing </button>

                    <ul class="level1-parent-dropdown-big">


                        <li class="level2-parent">
                            <div class="sub-heading">poetry</div>

                            <ul class="submenu">

                                <li class="subsubitem">
                                    <a href="/mbm/" alt="Mahabodhi Moonlight">
                                        Mahabodhi Moonlight
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/yarn/" alt="Yarn">
                                        Yarn
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/sun/" alt="Sunshine &amp; Shadow">
                                        Sunshine &amp; Shadow
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/bucket/" alt="Bucket">
                                        Bucket
                                    </a>
                                </li>

                            </ul>
                        </li>



                        <li class="level2-parent">
                            <div class="sub-heading">prose</div>

                            <ul class="submenu">

                                <li class="subsubitem">
                                    <a href="/pages/prose/pilgrimage/010-leaving.html" alt="Pilgrimage">
                                        Pilgrimage
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/pages/prose/firstBurn/01-Mn04.html" alt="First Burn">
                                        First Burn
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/thesium/" alt="Thesium">
                                        Thesium
                                    </a>
                                </li>

                            </ul>
                        </li>



                        <li class="level2-parent">
                            <div class="sub-heading">blogs</div>

                            <ul class="submenu">

                                <li class="subsubitem">
                                    <a href="/blogs/essays.html" alt="essays">
                                        essays
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/blogs/ideas.html" alt="ideas">
                                        ideas
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/blogs/kites.html" alt="kites">
                                        kites
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/blogs/magic.html" alt="magic">
                                        magic
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/blogs/personal" alt="personal">
                                        personal
                                    </a>
                                </li>

                            </ul>
                        </li>


                    </ul>
                </li>



                <li class="level1-parent">
                    <div class="icon">

                        <img src="/images/site/buddha.png" alt="icon">

                    </div>

                    <button class="heading"> Dharma </button>

                    <ul class="level1-parent-dropdown-big">


                        <li class="level2-parent">
                            <div class="sub-heading">mantrasphere</div>

                            <ul class="submenu">

                                <li class="subsubitem">
                                    <a href="/mantrasphere/" alt="info">
                                        info
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/mantrasphere/listen.html" alt="listen">
                                        listen
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/mantrasphere/songs.html" alt="songs">
                                        songs
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/mantrasphere/pix-launch.html" alt="launch party">
                                        launch party
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/mantrasphere/pix-promo.html" alt="promo pix">
                                        promo pix
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/mantrasphere/press.html" alt="press release">
                                        press release
                                    </a>
                                </li>

                            </ul>
                        </li>



                        <li class="level2-parent">
                            <div class="sub-heading">mantra</div>

                            <ul class="submenu">

                                <li class="subsubitem">
                                    <a href="/blogs/mantra.html" alt="mantra carving">
                                        mantra carving
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/blogs/mantra-archive.html" alt="mantra archive">
                                        mantra archive
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/pages/pix/stones.html" alt="gallery">
                                        gallery
                                    </a>
                                </li>

                            </ul>
                        </li>



                        <li class="level2-parent">
                            <div class="sub-heading">sutta anthology</div>

                            <ul class="submenu">

                                <li class="subsubitem">
                                    <a href="/pages/suttas/intro.html" alt="intro">
                                        intro
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/pages/suttas/core-suttas.html" alt="core sutras">
                                        core sutras
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/pages/suttas/list-of-suttas.html" alt="list">
                                        list
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/pages/suttas/mn/index.html" alt="MN">
                                        MN
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/pages/suttas/sn1/index.html" alt="SN1">
                                        SN1
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/pages/suttas/sn2/index.html" alt="SN2">
                                        SN2
                                    </a>
                                </li>

                            </ul>
                        </li>


                    </ul>
                </li>



                <li class="level1-parent">
                    <div class="icon">

                        <img src="/images/site/kite-runner.png" alt="icon">

                    </div>

                    <button class="heading"> play </button>

                    <ul class="level1-parent-dropdown-big">


                        <li class="level2-parent">
                            <div class="sub-heading">kites</div>

                            <ul class="submenu">

                                <li class="subsubitem">
                                    <a href="/blogs/kites.html" alt="blog">
                                        blog
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/pages/kites/fleet.html" alt="fleet">
                                        fleet
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/pages/kites/rotation-codes.html" alt="rotation codes">
                                        rotation codes
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/kites/kite-youtubes.html" alt="youtubes">
                                        youtubes
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/kites/kite-messing-youtubes.html" alt="messing about vids">
                                        messing about vids
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/kites/sims.html" alt="sims">
                                        sims
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/kites/kaitodo.html" alt="kaitodo">
                                        kaitodo
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/kites/kite-thoughts.html" alt="kite thoughts">
                                        kite thoughts
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/kites/iskcb.html" alt="ISKCB">
                                        ISKCB
                                    </a>
                                </li>

                            </ul>
                        </li>



                        <li class="level2-parent">
                            <div class="sub-heading">magic</div>

                            <ul class="submenu">

                                <li class="subsubitem">
                                    <a href="/pages/magic/main.html" alt="info">
                                        info
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/pages/magic/testimonials.html" alt="testimonials">
                                        testimonials
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/pages/magic/pix.html" alt="pix from gigs">
                                        pix from gigs
                                    </a>
                                </li>

                            </ul>
                        </li>



                        <li class="level2-parent">
                            <div class="sub-heading">silly</div>

                            <ul class="submenu">

                                <li class="subsubitem">
                                    <a href="/pages/stuff/tvluton.html" alt="TV Lutòn">
                                        TV Lutòn
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/pages/stuff/tiab.html" alt="tiab">
                                        tiab
                                    </a>
                                </li>

                            </ul>
                        </li>


                    </ul>
                </li>



                <li class="level1-parent">
                    <div class="icon">

                        <img src="/images/site/galleries.png" alt="icon">

                    </div>

                    <button class="heading"> galleries </button>

                    <ul class="level1-parent-dropdown-big">


                        <li class="level2-parent">
                            <div class="sub-heading">galleries</div>

                            <ul class="submenu">

                                <li class="subsubitem">
                                    <a href="/pages/pix/bio.html" alt="bio">
                                        bio
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/pages/pix/circus.html" alt="circus">
                                        circus
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/pages/pix/chan.html" alt="Chan">
                                        Chan
                                    </a>
                                </li>

                                <li class="subsubitem">
                                    <a href="/pages/pix/faves.html" alt="faves">
                                        faves
                                    </a>
                                </li>

                            </ul>
                        </li>


                    </ul>
                </li>














            </ul>
        </div>
    </div>


</nav>
