<div class="page-footer">
    {{ range $currentIndex, $item := .Scratch.Get "menu" }}

        {{ if eq ($.Scratch.Get "currentTitle") $item.title }}
            {{ $prevIndex := sub $currentIndex 1 }}
            {{ $prevItem := (index ($.Scratch.Get "menu") $prevIndex) }}

            {{ $nextIndex := add $currentIndex 1 }}
            {{ $nextItem := (index ($.Scratch.Get "menu") $nextIndex) }}

            {{ if $prevItem | or $nextItem }}

                <span class="previous">
                    {{ if $prevItem }}
                        << back <a href="{{ $prevItem.url }}" alt="{{ $prevItem.title }}">{{ $prevItem.title }}</a>
                    {{ end }}
                </span>
                
                <span class="next">
                    {{ if $nextItem }}
                        next <a href="{{ $nextItem.url }}" alt="{{ $nextItem.title }}">{{ $nextItem.title }}</a> >> 
                    {{ end }}
                </span>

            {{ end }}

            {{ break }}
        {{ end }}
    {{ end }}

    <div class="scroll-to-top">
        <a href="#">scroll to top</a>
    </div>
</div>
