<div class="poem-wrap">
    <div class="poem {{ if .Params.css }} {{- range .Params.css -}}{{- . -}}{{ end }}{{ end }}">
        {{ .Scratch.Set "currentTitle" .Params.title }}
        <h2 class="poem-title" data-pagefind-meta="title">{{ .Scratch.Get "currentTitle" }}</h2>

        <div class="poem-text">
            {{ .Content }}
        </div>

        {{ if .Params.images }}
            <div class="poem-image">
                {{ range .Params.images }}
                    <img src="{{ .path }}" alt="{{ .alt }}" />
                {{ end }}
            </div>
        {{ end }}

        {{ if .Params.graphics }}
            <div class="poem-graphics">
                {{ range .Params.graphics }}
                    <a href="{{ .path }}">{{ .alt }}</a><br />
                {{ end }}
            </div>
        {{ end }}

        {{ if .Params.youtubeData }}
            {{ partial "youtubes.html" . }}
        {{ end }}
    </div>

    {{ if .Params.written }}
        <div class="poem-written-date">
            HC: {{ .Params.written }}
        </div>
    {{ end }}

    {{ if .Params.images }}
        <button id="formatting-tools">
            formatting tools 
        </button>
    {{ end }}

    {{ partial "page-footer-yml.html" . }}
</div>

{{ define "subnav2" }}
    {{ if .Params.images }}
        <aside class="subnav2 screen-print-tools">
            <div class="tools">
                <h3>background</h3>
                <div class="sub-block">
                    <button id="bkg-contain">
                        contain
                    </button>

                    <button id="bkg-cover">
                        cover
                    </button>

                    <button id="bkg-unset">
                        unset
                    </button>
                </div>

                <h3>columns</h3>
                <div class="sub-block">
                    <button id="col-left">
                        left
                    </button>

                    <button id="col-centre">
                        centre
                    </button>

                    <button id="col-right">
                        right
                    </button>

                    <button id="col-flex">
                        flex
                    </button>

                    <button id="col-narrow">
                        narrow
                    </button>

                    <button id="col-regular">
                        regular
                    </button>

                    <button id="col-wide">
                        wide
                    </button>
                </div>

                <h3>overlays</h3>
                <div class="sub-block">
                    <button id="bkg-overlay-hl">
                        hard-light
                    </button>

                    <button id="bkg-overlay-screen">
                        screen
                    </button>

                    <button id="bkg-overlay-multiply">
                        multiply
                    </button>

                    <button id="bkg-overlay-move">
                        drag text/title 
                    </button>

                    <button id="bkg-overlay-unset">
                        unset
                    </button>
                </div>

                <h3>colours</h3>
                <div class="sub-block">
                    <button id="overlay-light-on-dark">
                        overlay light on dark
                    </button>

                    <button id="overlay-dark-on-light">
                        overlay dark on light 
                    </button>
                </div>
            </div>
        </aside>
    {{ end }}
{{ end }}
