<div class="poem">
    {{ .Scratch.Set "currentTitle" .Params.title }}
    <h2 class="poem-title" data-pagefind-meta="title">{{ .Scratch.Get "currentTitle" }}</h2>

    {{ .Content }}

    {{ if .Params.youtubeData }}
        {{ partial "youtubes.html" . }}
    {{ end }}

    {{ if .Params.written }}
        <div class="poem-written-date">
            HC: {{ .Params.written }}
        </div>
    {{ end }}

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    {{ partial "page-footer-yml.html" . }}
</div>

