<div class="poem">
    {{ .Scratch.Set "currentTitle" .Params.title }}
    <h2 class="poem-title" data-pagefind-meta="title">{{ .Scratch.Get "currentTitle" }}</h2>

    <div class="poem-text">
        {{ .Content }}
    </div>

    {{ if .Params.images }}
        {{ range .Params.images }}
            <div class="poem-image">
                <img src="{{ .path }}" alt="{{ .alt }}" />
            </div>
        {{ end }}
    {{ end }}

    {{ if .Params.youtubeData }}
        {{ partial "youtubes.html" . }}
    {{ end }}

    {{ if .Params.written }}
        <div class="poem-written-date">
            HC: {{ .Params.written }}
        </div>
    {{ end }}

    {{ if .Params.images }}
        <button id="screen-print">
            screen-print 
        </button>

        <button id="screen-print-overlay">
            screen-print overlay
        </button>
    {{ end }}

    {{ partial "page-footer-yml.html" . }}
</div>

