{{ define "main" }}

    <h2>{{ .Title }}</h2>
    <h6>{{ .Params.date.Format "2006 Jan 02"}}</h6>
    
    <div class="blog">
        {{ .Content }}

        <div class="page-footer">
            <span class="previous">
                {{ with .PrevInSection }}
                    << earlier <a href="{{ .Permalink }}">{{ .Title }}</a>
                {{ end }}
            </span>
            
            <span class="next">
                {{ with .NextInSection }}
                    later <a href="{{ .Permalink }}">{{ .Title }}</a> >>
                {{ end }}
            </span>

            <div class="scroll-to-top">
                <a href="#">scroll to top</a>
            </div>
        </div>
    </div>

{{ end }}

{{ define "subnavbar" }}
    {{ if .Params.subnav }}
        {{ $menu := (index $.Site.Data (print .Params.subnav)).menu }}
        {{ .Scratch.Set "menu" $menu }}
        {{ partial "subnavbar.html" . }}
    {{ end }}
{{ end }}
