{{ define "main" }}

    <div class="home-page">

        <section class="home-text-box" id="overlay">
            <p>
                Hughie's stash of poems, blogs, pictures, stories and goodies galore.
            </p>
            <p>
            Sad that someone had already bought <em>'hughtube.com'</em>, he was overjoyed to find <em>'hugle.co.uk'</em> was still available :) (<a href="/magic/main.html">more..</a>)
            </p>
        </section>

        <div class="image">
            <p>
                <img src="/images/bio/h-wall-door.jpg" />
            </p>

            <button>another picture</button>
        </div>

        <div class="random-hughku">
            latest hughku: <a href="/hk/bucket/shoes.html">shoes</a>
        </div>

        <section class="home-text-box">

            <table>
                <tr>
                    <td><a href="#">Yarn</a></td>
                    <td><a href="#">Family</a></td>
                </tr>
                <tr>
                    <td><a href="#">Sunshine & Shadow</a></td>
                    <td><a href="#">Shop</a></td>
                </tr>
                <tr>
                    <td><a href="#">Bucket</a></td>
                    <td><a href="#">Mantras</a></td>
                </tr>
                <tr>
                    <td><a href="#">Thesium</a></td>
                    <td><a href="#">goodreads</a></td>
                </tr>
            </table>

        </section>

        <div class="dharma-names">

            <div class="dharma-name">
                <span class="anglichars">Hughie</span>
            </div>

            <div class="dharma-name">
                <span class="unichars">&#x5E38;&#x514B;</span> <span class="anglichars">Cháng Kè</span>
            </div>

            <div class="dharma-name">
                <span class="unichars">&#x0f04;&#x0f05;&#x0f56;&#x0f66;&#x0f7c;&#x0f51;&#x0f0c;&#x0f53;&#x0f58;&#x0f66;&#x0f0c;&#x0f51;&#x0f56;&#x0f44;&#x0f0c;&#x0f55;&#x0fb1;&#x0f74;&#x0f42;&#x0f0d;</span> <span class="anglichars">Sonam Wangchuk</span>
            </div>

        </div>
    </div>

{{ end }}
