{{ define "main" }}

    <div class="home-page">

        <section class="home-text-box" id="overlay">
            <p>
                Hughie's stash of poems, blogs, pictures, stories and goodies galore.
            </p>
            <p>
            Sad that someone had already bought <em>'hughtube.com'</em>, he was overjoyed to find <em>'hugle.co.uk'</em> was still available :) (<a href="/magic/main.html">more..</a>)
            </p>
        </section>

        <div class="image">
            <p>
                <img src="/images/bio/h-wall-door.jpg" />
            </p>

            <button>another picture</button>
        </div>

        <div class="random-hughku">
            latest hughku: <a href="/hk/bucket/shoes.html">shoes</a>
        </div>

        <section class="home-text-box">

            <table>
                <tr>
                    <td><a href="#">Yarn</a></td>
                    <td><a href="#">Family</a></td>
                </tr>
                <tr>
                    <td><a href="#">Sunshine & Shadow</a></td>
                    <td><a href="#">Shop</a></td>
                </tr>
                <tr>
                    <td><a href="#">Bucket</a></td>
                    <td><a href="#">Mantras</a></td>
                </tr>
                <tr>
                    <td><a href="#">Thesium</a></td>
                    <td><a href="#">goodreads</a></td>
                </tr>
            </table>

        </section>

        <div class="dharma-names">

            <div class="dharma-name">
                <span class="anglichars">Hughie</span>
            </div>

            <div class="dharma-name">
                <span class="unichars">&#x5E38;&#x514B;</span> <span class="anglichars">Cháng Kè</span>
            </div>

            <div class="dharma-name">
                <span class="unichars">&#x0f04;&#x0f05;&#x0f56;&#x0f66;&#x0f7c;&#x0f51;&#x0f0c;&#x0f53;&#x0f58;&#x0f66;&#x0f0c;&#x0f51;&#x0f56;&#x0f44;&#x0f0c;&#x0f55;&#x0fb1;&#x0f74;&#x0f42;&#x0f0d;</span> <span class="anglichars">Sonam Wangchuk</span>
            </div>

        </div>
    </div>
{{ end }}

{{ define "subnav2" }}
    <aside class="subnav2">
        <h3>Poetry Collections</h3>

        <section>
            <nav class="block">
                <button class="toggler is-hiding">Mahabodhi Moonlight</button>

                <ul class="">
                    {{ range .Site.Data.mbm.menu }}
                        <li>
                            <a href="{{ .url }}" alt="{{ .title }}">{{ .title }}</a>
                        </li>
                    {{ end }}
                </ul>
            </nav>
        </section>

        <section>
            <nav class="block">
                <button class="toggler is-hiding">Yarn</button>

                <ul class="">
                    {{ range .Site.Data.yarn.menu }}
                        <li>
                            <a href="{{ .url }}" alt="{{ .title }}">{{ .title }}</a>
                        </li>
                    {{ end }}
                </ul>
            </nav>
        </section>

        <section>
            <nav class="block">
                <button class="toggler is-hiding">Sunshine & Shadow</button>

                <ul class="">
                    {{ range .Site.Data.sun.menu }}
                        <li>
                            <a href="{{ .url }}" alt="{{ .title }}">{{ .title }}</a>
                        </li>
                    {{ end }}
                </ul>
            </nav>
        </section>

        <section>
            <nav class="block">
                <button class="toggler is-hiding">Bucket</button>

                <ul class="">
                    {{ range .Site.Data.bucket.menu }}
                        <li>
                            <a href="{{ .url }}" alt="{{ .title }}">{{ .title }}</a>
                        </li>
                    {{ end }}
                </ul>
            </nav>
        </section>

        <h3>Prose</h3>

        <section>
            <nav class="block">
                <button class="toggler is-hiding">Pilgrimage</button>

                <ul class="">
                    {{ range .Site.Data.pilgrimage.menu }}
                        <li>
                            <a href="{{ .url }}" alt="{{ .title }}">{{ .title }}</a>
                        </li>
                    {{ end }}
                </ul>
            </nav>
        </section>

        <section>
            <nav class="block">
                <button class="toggler is-hiding">First Burn</button>

                <ul class="">
                    {{ range .Site.Data.firstBurn.menu }}
                        <li>
                            <a href="{{ .url }}" alt="{{ .title }}">{{ .title }}</a>
                        </li>
                    {{ end }}
                </ul>
            </nav>
        </section>

        <section>
            <nav class="block">
                <button class="toggler is-hiding">Thesium</button>

                <ul class="">
                    {{ range .Site.Data.thesium.menu }}
                        <li>
                            <a href="{{ .url }}" alt="{{ .title }}">{{ .title }}</a>
                        </li>
                    {{ end }}
                </ul>
            </nav>
        </section>

    </aside>
{{ end }}
