{{ define "main" }}

    <div class="home-page">

				<div class="mani-wrap">
					<div class="mani">
						ༀམནིཔདེཧཱུྃ༔ 
					</div>
				</div>

				<div class="image">
            <p>
                <img src="/images/bio/h-wall-door.jpg" />
            </p>
        </div>

        <div class="random-hughku">
            latest hughku: <a id="latest-hk" href="/hk/bucket/locusts/">locusts</a>

            <script>
                var hk = [];

                function getRndInteger(minimum, maximum) {
                    return Math.floor(Math.random() * (maximum - minimum)) + minimum;
                }

                {{ range .Site.Data.bucket.menu }}
                    if ({{ .title }} != 'intro') {
                        hk.push({
                          'title': {{ .title }},
                          'path': {{ .url }}
                        })
                    }
                {{ end }}

                {{ range .Site.Data.yarn.menu }}
                    if ({{ .title }} != 'intro') {
                        hk.push({
                          'title': {{ .title }},
                          'path': {{ .url }}
                        })
                    }
                {{ end }}

                {{ range .Site.Data.sun.menu }}
                    if ({{ .title }} != 'intro') {
                        hk.push({
                          'title': {{ .title }},
                          'path': {{ .url }}
                        })
                    }
                {{ end }}

                {{ range .Site.Data.mbm.menu }}
                    if ({{ .title }} != 'intro') {
                        hk.push({
                          'title': {{ .title }},
                          'path': {{ .url }}
                        })
                    }
                {{ end }}

                var rnd = getRndInteger(1, hk.length)
                
                var link = '<a href="' + hk[rnd].path + '">' + hk[rnd].title + '</a>'
                var latest = $('#latest-hk').attr('href');

                /* We might have a random hughku come out the same as the latest */
                if (latest != hk[rnd].path) {
                    $('<div id="rand">')
                        .html("hughku de jour: " + link)
                        .appendTo('.random-hughku');
                }
            </script>

        </div>

        <section class="home-text-box">

            <table>
                <tr>
                    <td><a href="/hk/yarn/intro/">Yarn</a></td>
                    <td><a href="https://family.carrollonline.uk">Family</a></td>
                </tr>
                <tr>
                    <td><a href="/hk/sun/intro/">Sunshine & Shadow</a></td>
                    <td><a href="/shop/">Shop</a></td>
                </tr>
                <tr>
                    <td><a href="/hk/bucket/intro">Bucket</a></td>
                    <td><a href="/pix/stones/">Mantras</a></td>
                </tr>
                <tr>
                    <td><a href="/thesium/">Thesium</a></td>
                    <td><a href="https://www.goodreads.com/author/show/20671806.Hughie_Carroll">goodreads</a></td>
                </tr>
            </table>

        </section>

        <div class="dharma-names">
            <p>
                Hughie's stash of poems, blogs, pictures, stories and goodies galore.
            </p>

            <p>
				Sad that someone had already bought <em>'hughtube.com'</em>, he was overjoyed to find <em>'hugle.uk'</em> was still available :) (<a href="/magic/main/">more..</a>)
            </p>

			<p>
				<span class="unichars">𐑣𐑿𐑦</span> <span class="anglichars">Hughie</span>
			</p>

			<p>
				<span class="unichars">&#x5E38;&#x514B;</span> <span class="anglichars">Cháng Kè</span>
			</p>

			<p>
				<span class="unichars">&#x0f04;&#x0f05;&#x0f56;&#x0f66;&#x0f7c;&#x0f51;&#x0f0c;&#x0f53;&#x0f58;&#x0f66;&#x0f0c;&#x0f51;&#x0f56;&#x0f44;&#x0f0c;&#x0f55;&#x0fb1;&#x0f74;&#x0f42;&#x0f0d;</span> <span class="anglichars">Sonam Wangchuk</span>
			</p>

			<p>
				<span class="unichars">𐑕𐑲𐑒𐑦𐑛𐑴</span> <span class="anglichars">psaikido</span>
			</p>
        </div>

        <div class="page-footer">
            <div class="scroll-to-top">
                <a href="#">scroll to top</a>
            </div>
        </div>
    </div>
{{ end }}

