{{ define "main" }}
    {{ .Scratch.Set "menu" .Site.Data.shavian.menu }}

    {{ if .Params.title }}
		<h2>{{ .Params.title }}</h2>
	{{ end }}

	{{ if .Params.tutor }}
	<div class="shavian">
		<div class="display">
			<div class="shv"></div>

			<div class="info">
				<div class="name"></div>
				<div class="kbd"></div>
			</div>
		</div>

		<div class="input">
			<textarea id="txt" rows="1" cols="10">&nbsp;</textarea>
		</div>

		<div id="result">&nbsp;</div>

		<script src="/js/shavian.js"></script>
	</div>
	{{ end }}

	{{ .Content }}

	{{ .Scratch.Set "currentTitle" .Params.title }}
    {{ partial "page-footer-yml.html" . }}
{{ end }}

{{ define "subnav1" }}
    {{ partial "subnav-data.html" . }}
{{ end }}
