---
layout: default
title: sitemap
---

<ul>
{% for item in site.data %}
    <li>
        {% if item[1].description %}
            {% if item[1].description == 'main menu' %}
                {% continue %}
            {% endif %}

            {{ item[1].description }}
        {% else %}
            {{ item[0] }}
        {% endif %}

        <ul>
        {% for sub in item[1]%}
            <li>
                <ul>
                {% if sub[0] == 'menu' %}
                    {% for subitem in sub[1]%}
                        <li>
                            <a href="{{ subitem.url }}" alt="{{ subitem.title }}">
                                {{ subitem.title }}
                            </a>
                        </li>
                    {% endfor %}
                {% else %}
                    <a href="">{{ sub[1].name }}</a>
                {% endif %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
