---
title: The Pali Canon 
banner-title: The Pali Canon 
layout: default 
subnav: suttas
---


<h4>Majjhima Nikāya</h4>
<ul class="">
    {% for item in site.data.suttas-mn.menu %}
        <li {% if page.url  == item.url %}class="current"{% endif %}>
            <a href="{{ site.baseurl }}{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a>
        </li>
    {% endfor %}
</ul>

<h4>Saṁyutta Nikāya I</h4>
<ul class="">
    {% for item in site.data.suttas-sn1.menu %}
        <li {% if page.url  == item.url %}class="current"{% endif %}>
            <a href="{{ site.baseurl }}{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a>
        </li>
    {% endfor %}
</ul>

<h4>Saṁyutta Nikāya II</h4>
<ul class="">
    {% for item in site.data.suttas-sn2.menu %}
        <li {% if page.url  == item.url %}class="current"{% endif %}>
            <a href="{{ site.baseurl }}{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a>
        </li>
    {% endfor %}
</ul>
