<input type="checkbox" id="hamburger-input" class="burger-shower" />

<label id="hamburger-menu" for="hamburger-input">
    <nav class="sidebar-menu little">
        <h3>menu little</h3>

        <ul class="little">
            {% for item in site.data.nav.menu %}
                {% if item.sub %}
                    <li class="level1-parent">
                        <label id="ham-{{ forloop.index }}" for="ham-chk-{{ forloop.index }}">
                            <div class="heading">
                                {{ item.title }}
                            </div>

                            <input type="checkbox" id="ham-chk-{{ forloop.index }}" class="burger-shower" />

                            <ul class="hamburger-dropdown">
                                {% for subitem in item.sub %}
                                    {% if subitem.subsub %}
                                        <li class="level2-parent">
                                            <div class="sub-heading">{{ subitem.title }}</div>

                                            <ul class="submenu">
                                                {% for subsubitem in subitem.subsub %}
                                                    <li class="subsubitem">
                                                        <a href="{{ site.baseurl }}{{ subsubitem.url }}" alt="{{ subsubitem.title }}" >
                                                            {{ subsubitem.title }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% else %}
                                        <li class="level2-child">
                                            <a href="{{ site.baseurl }}{{ subitem.url }}" alt="{{ subitem.title }}" class="subitem">
                                                {{ subitem.title }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </label>
                    </li>
                {% else %}
                    <li class="level1-child">
                        <a href="{{ site.baseurl }}{{ item.url }}" alt="{{ item.title }}" class="">
                            {{ item.title }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>

    <nav class="sidebar-menu big">
        <h3>menu big</h3>

        <ul class="big">
            <li>big</li>
        </ul>
    </nav>
</label>

