<h3>Poetry Collections</h3>

<section>
    <nav class="block">
        <button class="toggler is-hiding">Mahabodhi Moonlight</button>

        <ul class="">
            {% for item in site.data['mbm'].menu %}
                {% if item.silent != true %}
                    <li {% if page.url  == item.url %}class="current"{% endif %}>
                        <a href="{{ site.baseurl }}{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</section>

<section>
    <nav class="block">
        <button class="toggler is-hiding">Yarn</button>

        <ul class="">
            {% for item in site.data['yarn'].menu %}
                {% if item.silent != true %}
                    <li {% if page.url  == item.url %}class="current"{% endif %}>
                        <a href="{{ site.baseurl }}{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</section>

<section>
    <nav class="block">
        <button class="toggler is-hiding">Sunshine & Shadow</button>

        <ul class="">
            {% for item in site.data['sun'].menu %}
                {% if item.silent != true %}
                    <li {% if page.url  == item.url %}class="current"{% endif %}>
                        <a href="{{ site.baseurl }}{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</section>

<section>
    <nav class="block">
        <button class="toggler is-hiding">Bucket</button>

        <ul class="">
            {% for item in site.data['bucket'].menu %}
                {% if item.silent != true %}
                    <li {% if page.url  == item.url %}class="current"{% endif %}>
                        <a href="{{ site.baseurl }}{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</section>

<h3>Prose</h3>

<section>
    <nav class="block">
        <button class="toggler is-hiding">Pilgrimage</button>

        <ul class="">
            {% for item in site.data['pilgrimage'].menu %}
                {% if item.silent != true %}
                    <li {% if page.url  == item.url %}class="current"{% endif %}>
                        <a href="{{ site.baseurl }}{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</section>
<section>
    <nav class="block">
        <button class="toggler is-hiding">Thesium</button>

        <ul class="">
            {% for item in site.data['thesium'].menu %}
                {% if item.silent != true %}
                    <li {% if page.url  == item.url %}class="current"{% endif %}>
                        <a href="{{ site.baseurl }}{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</section>
