<!doctype html>
<html lang="en">
    {% include head.html %}
    <body>

        <div class="grid-wrap">
            {% include navs/main.html %}

            {% if page.banner-title %}
                {% assign bt = page.banner-title | prepend: 'hugle - ' %}
            {% else if page.category %}
                {% assign bt = page.category | prepend: 'hugle - ' %}
            {% else %}
                {% assign bt = 'hugle' %}
            {% endif %}

            <div class="header">&#x0f3a;{{ bt }}&#x0f3b;</div>

            {% include search.html %}
            {% include subnav.html %}

            {{ content }}

            {% include footer.html %}
        </div>

    </body>

</html>
