<!doctype html>
<html lang="en">
    {% include head.html %}
    <body>

        <div class="grid-wrap">
            {% include navs/main.html %}

            {% if page.banner-title != nill %}
                {% assign bt = page.banner-title %}
            {% elsif page.category != nill %}
                {% assign bt = page.category | prepend: 'hugle - ' %}
            {% else %}
                {% assign bt = 'hugle' %}
            {% endif %}

            <div class="header">&#x0f3a;{{ bt }}&#x0f3b;</div>

            {% include search.html %}

            {% if page.subnav or page.category %}
                {% include navs/subnav-list.html %}
            {% endif %}

            {{ content }}

            {% include footer.html %}

            <script type="text/javascript" src="/assets/js/toggler.js"> </script>
            <script type="text/javascript" src="/assets/js/cookie-toggler.js"> </script>
            <script type="text/javascript" src="/assets/js/add-class-images.js"> </script>
        </div>

    </body>

</html>
