<!doctype html>
<html lang="en">
    {% include head.html %}
    <body>

        <div class="grid-wrap">
            {% include navs/main.html %}

            {% if page.banner-title == empty %}
            {% assign pbt = 'hugle %}
            {% else %}
            {% assign pbt = page.banner-title %}
            {% endif %}

            <div class="header">&#x0f3a;{{ pbt }}&#x0f3b;</div>

            <nav class="subnavbar empty"> &nbsp; </nav>
            
            <div class="main"> {{ content }} </div>

            {% include footer.html %}
        </div>

    </body>
</html>
