---
layout: base
---

{% if page.title %}
    <h4 class="poem-title">{{ page.title }}</h4>
{% endif %}

{{ content }}

{% if page.subnav %}
    <div class="poem-footer"> 
        {% if page.written %}
            <div class="poem-written-date">
                HC: {{ page.written }}
            </div>
        {% endif %}

        {% for item in site.data[page.subnav].menu %}
            {% if currentItemFound %}
                <div class="next">
                    next -> <a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a>
                </div>
                {% break %}
            {% endif %}

            {% if page.url == item.url %}
                {% assign currentItemFound = true %}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
