---
layout: base
---

<div class="header">&#x0f3a; {{ page.title }} &#x0f3b;</div>

<nav class="subnavbar empty"> &nbsp; </nav>

<div class="main">
    <h5>{{ site.data.galleries[page.dataFile].description }}</h5>

    {% for image in site.data.galleries[page.dataFile].images %}

        {% capture src %}
            {{ site.baseurl }}/{{ site.data.galleries[page.dataFile].imageFolder }}{{ image.img }}
        {% endcapture %}


        {% if image.name %}
            <h6>{{ image.name }}</h6>
        {% endif %}


        <img src="{{ src }}"
            alt="{{ image.name }}" 
            class="center-img" />

        <br />

        {% if image.text %}
            {{ image.text }}
            <br />
        {% endif %}

        {% if image.url %}
            <a href="{{ image.url }}">{{ image.urlText }}</a>
            <br />
        {% endif %}

        <hr />

    {% endfor %}
</div>
