<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body>

        <div class="grid-wrap">
            {% include navs/main.html %}

            <div class="header">&#x0f3a;{{ page.title }}&#x0f3b;</div>

            {% include search.html %}

            <nav class="subnavbar empty"> &nbsp; </nav>

            <div class="main">
                <h5>{{ site.data.galleries[page.dataFile].description }}</h5>

                {% for image in site.data.galleries[page.dataFile].images %}

                    {% capture src %}
                        {{ site.baseurl }}/{{ site.data.galleries[page.dataFile].imageFolder }}{{ image.img }}
                    {% endcapture %}


                    {% if image.name %}
                        <h6>{{ image.name }}</h6>
                    {% endif %}


                    <img src="{{ src }}"
                        alt="{{ image.name }}" 
                        class="center-img" />

                    <br />

                    {% if image.text %}
                        {{ image.text }}
                        <br />
                    {% endif %}

                    {% if image.url %}
                        <a href="{{ image.url }}">{{ image.urlText }}</a>
                        <br />
                    {% endif %}

                    <hr />

                {% endfor %}


            </div>

            {% include footer.html %}
        </div>

    </body>
</html>
