<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>

        <div class="body-inner">
            <div class="wrap">
                <div class="header">
                    {{ page.title }}
                    <a href="/#note">*</a>
                </div>

                {% include navs/main.html %}
                {% include search.html %}

                <script src="/assets/js/random-hughku.js"></script>

                <div class="main-content home">
                    {{ content }}

                    <a name="note" />
                    <i>
                    I tried to buy 'hughtube.com' but someone beat me to it!<br /> 
                    'hugle' was still free - lucky boy! <br />
                    </i>
                </div>
            </div>
        </div>

        {% include footer.html %}
    </body>
</html>
