<!doctype html>
<html lang="en">
    {% include head-kites.html %}
    <body>

        <div class="body-inner">
            <div class="wrap">
                <div class="header">&#x0f3a;{{ page.title }}&#x0f3b;</div>

                {% include navs/main.html %}
                {% include search.html %}
            <div class="main-content">

                <div id="wind-window">
                    <div id="kite-wrap">
                        <div id="kite"></div>
                    </div>

                    <svg viewBox="0 0 800 400">
                        <g>
                            <path id="slideCircle"
                                d="M403.874 302.18c-26.307.895-52.817-9.194-71.873-27.352-19.057-18.158-30.413-44.15-30.79-70.47-.378-26.31 10.22-52.608 28.735-71.304 18.515-18.696 44.71-29.548 71.023-29.422 25.508.122 50.821 10.532 69.036 28.39 18.215 17.86 29.124 42.961 29.753 68.462.637 25.834-9.293 51.773-27.02 70.575s-43.038 30.24-68.864 31.12z" />

                            <path id="slideCircle2"
                                d="M403.874 302.18c-26.307.895-52.817-9.194-71.873-27.352-19.057-18.158-30.413-44.15-30.79-70.47-.378-26.31 10.22-52.608 28.735-71.304 18.515-18.696 44.71-29.548 71.023-29.422 25.508.122 50.821 10.532 69.036 28.39 18.215 17.86 29.124 42.961 29.753 68.462.637 25.834-9.293 51.773-27.02 70.575s-43.038 30.24-68.864 31.12z" />

                            <path id="camel" 
                                d="M68 365 68 205 A 30 30 0 0 1 250 205 A 30 30 0 0 0 450 205 A 30 30 0 0 1 650 205 l 0 165" />

                            <path id="circle3"
                                d="M 307.5 220 A 30 30 0 0 0 450 205" />
                        </g>
                    </svg>
                </div>

                {{ content }}

                <script>
                    gsap.registerPlugin(MotionPathPlugin);
                    var k = document.getElementById('kite-wrap');
                    var kImg = document.getElementById('kite');

                    var timeline = gsap.timeline({
                        defaults: {
                            duration: 1,
                            ease: 'sine.inOut',
                            delay: .5,
                        }
                    });
                </script>

            </div>
            </div>
        </div>

        {% include footer.html %}
    </body>
</html>
