<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>

        <div class="wrap">
            <div class="header">Mahabodhi Moonlight</div>

            {% include navs/main.html %}
            {% include navs/mbm.html %}

            <div class="mainContent subMenu">

                <h4>{{ page.title }}</h4>

                {{ content }}

                {% if page.written %}
                    <div class="poem-written-date">
                        HC: {{ page.written }}
                    </div>
                {% endif %}
            </div>
        </div>

        {% include footer.html %}
    </body>
</html>
