<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>

        <div class="grid-wrap">
            {% include navs/main.html %}

            <div class="header">&#x0f3a;{{ page.category }}&#x0f3b;</div>

            {% include search.html %}

            <nav class="subnavbar">
                <a href="#" class="toggler hide">categories show/hide</a>

                {% assign sorted-cats = site.categories | sort %}

                <ul>
                    {% for cat in sorted-cats %}
                        {% capture ct %}{{ cat[0] }}{% endcapture %}
                        
                        <li>
                            <a href="/blogs/{{ ct }}.html">{{ ct }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>

            <div class="main sub-menu {{ page.subnav }}">
                <h4 class="poem-title">{{ page.title }}</h4>

                <ul class="">
                    {% for post in site.categories[page.category] %}
                        <li {% if post.url == page.url %}class="current"{% endif %}>
                            <a href="{{ site.baseurl }}{{ post.url }}" alt="{{ post.title }}">{{ post.title }}</a>
                        </li>
                    {% endfor %}
                </ul>

            </div>

            <script type="text/javascript">
                $('.subnavbar > .toggler').click(function () {
                    if ($('.subnavbar ul').is(':visible')) {
                        hide(this);
                    } else {
                        show(this);
                    }

                    return false;
                })

                function hide (elem) {
                    $(elem).html('show categories');

                    $('.subnavbar')
                        .attr('class', 'subnavbar toggler hide');

                    $('.subnavbar').find('ul').hide();

                    $(elem)
                        .attr('class', 'subnavbar toggler hide');
                }

                function show (elem) {
                    $(elem).html('hide categories');

                    $('.subnavbar')
                        .attr('class', 'subnavbar toggler show');

                    $('.subnavbar').find('ul').show();

                    $(elem)
                        .attr('class', 'subnavbar toggler show');
                }
            </script>

            {% include footer.html %}
        </div>
    </body>
</html>
