<!doctype html>
<html lang="en">
    {% include head.html %}
    <body>

        <div class="body-inner">
            <div class="wrap">
                <div class="header">&#x0f3a;{{ page.title }}&#x0f3b;</div>

                {% include navs/main.html %}

                <div class="main-content">
                    {% for post in site.categories.ideas %}
                        <div class="post">
                            <a name="{{ post.permalink }}"></a>
                            <h2>{{ post.title }}</h2>

                            {{ post }}

                            <a href="{{ site.baseurl }}/blog/ideas#{{ post.permalink }}">[link this post]</a>
                            <hr />
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% include footer.html %}
    </body>
</html>
