<!doctype html>
<html lang="en">
    {% include head.html %}
    <body>

        <div class="body-inner">
            <div class="wrap">
                <div class="header">{{ page.title }}</div>

                {% include navs/main.html %}
                {% include search.html %}

                <div class="main-content">
                    {% for post in site.categories.mantra %}
                        <a name="{{ post.permalink }}"></a>
                        <h2>&#x0f04;{{ post.title }}</h2>
                        <h6>{{ post.date | date_to_string }}</h6>

                        {{ post }}

                        <a href="{{ site.baseurl }}/blog/mantra#{{ post.permalink }}">[link this post]</a>
                        <hr />
                    {% endfor %}
                </div>
            </div>
        </div>

        {% include footer.html %}
    </body>
</html>
