<!doctype html>
<html lang="en">
    {% include head.html %}
    <body>

        <div class="grid-wrap">
            <div class="header">&#x0f3a;{{ page.title }}&#x0f3b;</div>

            {% include navs/main.html %}

            {% include search.html %}

            <nav class="subnavbar empty"> &nbsp; </nav>

            <div class="main">
                {% for post in site.categories.essays %}
                    {% if forloop.first %}
                        <div class="post-item first">
                    {% else %}
                        <div class="post-item">
                    {% endif %}

                        <h6>{{ post.date | date: "%F" }}</h6>
                        <a name="{{ post.permalink }}"></a>
                        <h2>{{ post.title }}</h2>

                        {{ post }}

                        <em><a href="{{ site.baseurl }}/blog/essays#{{ post.permalink }}">[link to this post]</a></em>
                        <hr />
                    </div>
                {% endfor %}
            </div>

            {% include footer.html %}
        </div>
    </body>
</html>
