<!doctype html>
<html lang="en">
    {% include head.html %}
    <body>

        <div class="grid-wrap">
            {% include navs/main.html %}

            <div class="header">&#x0f3a;{{ page.title }}&#x0f3b;</div>

            <nav class="subnavbar empty"> &nbsp; </nav>

            <div class="main">
                {% for post in site.categories.mantra-archive %}
                    <a name="{{ post.permalink }}"></a>
                    <h2>&#x0f04;{{ post.title }}</h2>
                    <h6>{{ post.date | date_to_string }}</h6>

                    {{ post }}

                    <a href="{{ site.baseurl }}/blog/mantra-archive#{{ post.permalink }}">[link for this post]</a>
                    <hr />
                {% endfor %}
            </div>

            {% include footer.html %}
        </div>
    </body>
</html>
