---
layout: base
---

<div class="header">&#x0f3a; {{ page.category }} &#x0f3b;</div>

<nav class="subnavbar">
    <a href="#" class="toggler hide">index show/hide</a>

    <ul class="">
        {% for post in site.categories[page.category] %}
            <li {% if post.url == page.url %}class="current"{% endif %}>
                <a href="{{ site.baseurl }}{{ post.url }}" alt="{{ post.title }}">
                    {{ post.title }} 
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>

<div class="main">
    <div class="post">
        <h4>{{ page.title }}</h4>
        <h5>{{ page.date | date_to_string }}</h5>

        {{ content }}

        <hr />
    </div>
</div>

<script type="text/javascript">
    $('.subnavbar > .toggler').click(function () {
        if ($('.subnavbar ul').is(':visible')) {
            hide(this);
        } else {
            show(this);
        }

        return false;
    })

    function hide (elem) {
        $(elem).html('show index');

        $('.subnavbar')
            .attr('class', 'subnavbar toggler hide');

        $('.subnavbar').find('ul').hide();

        $(elem)
            .attr('class', 'subnavbar toggler hide');
    }

    function show (elem) {
        $(elem).html('hide index');

        $('.subnavbar')
            .attr('class', 'subnavbar toggler show');

        $('.subnavbar').find('ul').show();

        $(elem)
            .attr('class', 'subnavbar toggler show');
    }
</script>
