<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>

    <script src="/assets/js/lunr.min.js"></script>
    <script src="/assets/js/search.js"></script>

        <div class="wrap">
            <h1 class="header home">hughie</h1>

            {% include navs/main.html %}

            <div class="mainContent">
                <form id="frmSearch" action="" method="get">
                    <input type="text" value="" id="searchTerm" />
                </form>

                <div id="results"> </div>
            </div>
        </div>

        {% include footer.html %}
    </body>
</html>
