---
layout: base
---

<div class="header">&#x0f3a;{{ page.banner-title }}&#x0f3b;</div>

<nav class="subnavbar">
    <a href="#" class="toggler hide">index show/hide</a>

    <ul class="">
        {% for item in site.data[page.subnav].menu %}
            {% if item.silent != true %}
                <li {% if page.url  == item.url %}class="current"{% endif %}>
                    <a href="{{ site.baseurl }}{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>

<div class="main">
    <h5>{{ site.data.galleries[page.dataFile].description }}</h5>

    {% for image in site.data.galleries[page.dataFile].images %}

        {% capture src %}
            {{ site.baseurl }}/{{ site.data.galleries[page.dataFile].imageFolder }}{{ image.img }}
        {% endcapture %}


        {% if image.name %}
            <h6>{{ image.name }}</h6>
        {% endif %}


        <img src="{{ src }}"
            alt="{{ image.name }}" 
            class="center-img" />

        <br />

        {% if image.text %}
            {{ image.text }}
            <br />
        {% endif %}

        {% if image.url %}
            <a href="{{ image.url }}">{{ image.urlText }}</a>
            <br />
        {% endif %}

        <hr />

    {% endfor %}
</div>

