<!doctype html>
<html lang="en">
    {% include head.html %}
    <body>

        <div class="grid-wrap">
            {% include navs/main.html %}

            <div class="header">&#x0f3a;{{ page.title }}&#x0f3b;</div>

            <nav class="subnavbar empty"> &nbsp; </nav>

            <div class="main">
                {{ content }}

                {% if page.yml-data == 'kite-youtubes' %}
                    {% assign menu = site.data.kite-youtubes.menu %}
                {% endif %}

                {% if page.yml-data == 'kite-messing-youtubes' %}
                    {% assign menu = site.data.kite-messing-youtubes.menu %}
                {% endif %}


                {% include youtubes.html %}
            </div>

            {% include footer.html %}
        </div>
    </body>
</html>
